 <?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 <html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
   <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
   <meta content="text/javascript" http-equiv="Content-Script-Type"/>
   <meta content="text/css" http-equiv="Content-Style-Type"/>
   <meta content="en-US" http-equiv="Content-Language"/>
   <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
   <meta content="en-US" http-equiv="Content-Language"/>
   <meta content="Thu, 12 Mar 2004 12:34:12 GMT" http-equiv="expires"/>
   <meta content="no-cache" http-equiv="pragma"/>
   <meta content="{{meta_description}}" name="description"/>
   <meta content="{{meta_keywords}}" name="keywords"/>
   <title>{{title}}</title>
   <link type="image/x-icon" href="{{url}}favicon.ico" rel="shortcut icon"/>

{{#not_mobile_request?}}

   <link type="text/css" href="{{css_file}}" media="screen" rel="stylesheet"/>

{{/not_mobile_request?}}


{{head_content}}

  </head>
  <body id="the_body">
   <div id="container">
    <div id="timestamp">{{js_epoch_time}}</div>

{{#loading}}

    <div id="loading">Loading...</div>

{{/loading}}


Not done: save_to "title"
      <div id="nav_bar">
       <div id="logo">

{{opening_msg}}


{{#no_opening_msg}}

        <p class="nippon">
何とかしてよ        </p>

{{/no_opening_msg}}

        <p class="english">

{{opening_msg_site_title}}

        </p>
       </div>
       <ul class="help">
         <li>
          <a href="/">Home</a>
         </li>
       </ul>
       <h4>Egg Timers</h4>
       <ul class="to_dos">
         <li>
          <a href="/my-egg-timer/">Old Timer</a>
         </li>
         <li>
          <a href="/busy-noise/">New Timer</a>
         </li>
       </ul>

{{#development?}}


{{#logged_in?}}

       <h4>Non-Members</h4>
       <ul class="non_members">
         <li class="selected">
          <span>Sign_up</span>
         </li>
       </ul>

{{/logged_in?}}

       <h4>Members</h4>
       <ul class="members">

{{#logged_in?}}

         <li>
          <a href="/account/">Account</a>
         </li>
         <li>
          <a href="/log-out/">Log_out</a>
         </li>

{{/logged_in?}}


{{#not_logged_in?}}

         <li>
          <a href="/log-in/">Log_in</a>
         </li>

{{/not_logged_in?}}

       </ul>
       <h4>Stuff To Do</h4>
       <ul class="to_dos">
         <li>
          <a href="/add-to-do/">Add to do</a>
         </li>
         <li>
          <a href="/today/">Today</a>
         </li>
         <li>
          <a href="/tomorrow/">Tomorrow</a>
         </li>
         <li>
          <a href="/this-month/">This Month</a>
         </li>
       </ul>
       <h4>Lives</h4>
       <ul class="lives">
         <li>
          <a href="/friend/">Friend</a>
         </li>
         <li>
          <a href="/family/">Family</a>
         </li>
         <li>
          <a href="/work/">Work</a>
         </li>
         <li>
          <a href="/pet-owner/">Pet Owner</a>
         </li>
         <li>
          <a href="/celebrity/">Celebrity</a>
         </li>
       </ul>

{{/development?}}

       <h4>Clubs</h4>
       <ul class="news">
         <li>
          <a href="/bubblegum/">Bubblegum Pop</a>
         </li>
         <li>
          <a href="/child-care/">Child Care</a>
         </li>
         <li>
          <a href="/computer/">Computer Use</a>
         </li>
         <li>
          <a href="/economy/">Economy + War</a>
         </li>
         <li>
          <a href="/hair/">Skin &amp; Hair</a>
         </li>
         <li>
          <a href="/housing/">Housing &amp; Apartments</a>
         </li>
         <li>
          <a href="/health/">Pain &amp; Disease</a>
         </li>
         <li>
          <a href="/preggers/">Pregnancy</a>
         </li>
         <li>
          <a href="/salud/">Salud (Espa&#241;ol)</a>
         </li>
         <li>
          <a href="/news/">Other Topics</a>
         </li>
       </ul>
      </div>
     <div id="content">

{{#flash_msg?}}

       <div class="{{class_name}}" id="flash_msg">
        <h4>{{title}}</h4>
        <div class="msg">{{msg}}</div>
       </div>

{{/flash_msg?}}

      <h3>Create a New Account</h3>
      <form method="post" name="sign_up_form" id="sign_up_form" action="/member/">
       <fieldset>
        <label>Username</label>
        <input type="text" class="text" value="{{ session_form_username }}" name="username" id="username_name"/>
       </fieldset>
       <fieldset>
        <label>Password</label>
        <input type="password" class="text" value="" name="password" id="password"/>
       </fieldset>
       <fieldset>
        <label>
         <span>Confirm Password</span>
        </label>
        <input type="password" class="text" value="" name="confirm_password" id="confirm_password"/>
       </fieldset>
       <div class="buttons">
        <button class="create" onclick="document.getElementById('sign_up_form').submit(); return false;">Create My New Account</button>
       </div>
      </form>
     </div>
    <div id="footer">
     <span>(c) {{copyright_year}} {{site_domain}}. Some rights reserved.</span>
    </div>

{{javascripts}}

   </div>
  </body>
 </html>
