<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 <html xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
   <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
   <meta content="text/javascript" http-equiv="Content-Script-Type"/>
   <meta content="text/css" http-equiv="Content-Style-Type"/>
   <meta content="en-US" http-equiv="Content-Language"/>
   <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
   <meta content="en-US" http-equiv="Content-Language"/>

{{#no_meta_cache}}

   <meta content="Thu, 12 Mar 2004 12:34:12 GMT" http-equiv="expires"/>
   <meta content="no-cache" http-equiv="pragma"/>

{{/no_meta_cache}}

   <meta content="{{meta_description}}" name="description"/>
   <meta content="{{meta_keywords}}" name="keywords"/>
   <title>{{title}}</title>
   <link type="image/x-icon" href="{{url}}favicon.ico" rel="shortcut icon"/>

{{#not_mobile_request?}}

   <link type="text/css" media="screen" href="{{css_file}}" rel="stylesheet"/>

{{/not_mobile_request?}}


{{head_content}}

  </head>
  <body id="the_body">
   <div id="container">
    <div id="timestamp">{{js_epoch_time}}</div>

{{#loading}}

    <div id="loading">Loading...</div>

{{/loading}}


Not done: save_to "title"

Not done: save_to "javascripts"

Not done: save_to "loading"
     <div id="nav_bar">
      <h2>My Work</h2>
      <ul>
       <li>
        <a href="/">Home</a>
       </li>

{{#logged_in?}}

       <li>
        <a href="/log-out/">Logout</a>
       </li>

{{/logged_in?}}

       <li>
        <a href="#help">Get Help</a>
       </li>
      </ul>
     </div>
     <ul class="tabs" id="create_tabs">
      <li class="tab_selected">
       <a href="#create_location" onclick="Swiss.tab.select(this); return false;">Locations</a>
      </li>
     </ul>
     <div class="form_holder tab_selected" id="create_slice_location">
      <form action="/slice_location/create" method="post" name="form_create_slice_location">
       <h3>Create a location</h3>
       <fieldset class="input_text title">
        <label>Title</label>
        <input type="text" value="" name="title"/>
       </fieldset>
       <fieldset class="textarea description">
        <label>
         <span>Tagline or Short Description</span>
         <span class="sub">(optional)</span>
        </label>
        <textarea name="description"></textarea>
       </fieldset>
       <div class="status_msg"></div>
       <div class="buttons">
        <a class="save" href="#save_slice_location" onclick="SliceLocation.create(this); return false;">Save</a>
       </div>
      </form>
     </div>
     <div class="form_holder tab_unselected" id="update_account">
      <form action="/work/update_account" class="update_account" method="post" name="form_update_settings">
       <h3>Update Email</h3>
       <fieldset class="input_text email">
        <label>Update Email</label>
        <input type="text" value="" name="email"/>
       </fieldset>
       <div class="status_msg"></div>
       <div class="buttons">
        <a class="update" href="#update_my_settings" onclick="Member.update_account(this); return false;">Update</a>
       </div>
      </form>
      <form action="/work/update_password" class="update_password" method="post" name="form_update_password">
       <h3>Update Password</h3>
       <fieldset class="input_text password">
        <label>Old Password</label>
        <input type="password" value="" name="password"/>
       </fieldset>
       <fieldset class="input_text password">
        <label>New Password</label>
        <input type="password" value="" name="new_password"/>
       </fieldset>
       <fieldset class="input_text password">
        <label>Confirm New Password</label>
        <input type="password" value="" name="confirm_password"/>
       </fieldset>
       <div class="status_msg"></div>
       <div class="buttons">
        <a class="update" href="#update_password" onclick="Member.update_password(this); return false;">Update Password</a>
       </div>
      </form>
     </div>
    <div id="footer">
     <span>(c) {{copyright_year}} {{site_domain}}. Some rights reserved.</span>
    </div>

{{javascripts}}

   </div>
  </body>
 </html>
