 <?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 <html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
   <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
   <meta http-equiv="Content-Script-Type" content="text/javascript"/>
   <meta http-equiv="Content-Style-Type" content="text/css"/>
   <meta http-equiv="Content-Language" content="en-US"/>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
   <meta http-equiv="Content-Language" content="en-US"/>
   <meta http-equiv="expires" content="Thu, 12 Mar 2004 12:34:12 GMT"/>
   <meta http-equiv="pragma" content="no-cache"/>
   <meta content="{{meta_description}}" name="description"/>
   <meta content="{{meta_keywords}}" name="keywords"/>
   <title>{{title}}</title>
   <link type="image/x-icon" href="{{url}}favicon.ico" rel="shortcut icon"/>

{{#mobile_request?}}

   <link type="text/css" href="{{css_file}}" media="screen" rel="stylesheet"/>

{{/mobile_request?}}


{{head_content}}

  </head>
  <body id="the_body">
   <div id="container">
    <div id="timestamp">{{js_epoch_time}}</div>

{{#loading}}

    <div id="loading">Loading...</div>

{{/loading}}


Not done: save_to "title"

Not done: save_to "meta_description"

Not done: save_to "meta_keywords"
     <div id="content">
      <p>
       <span>If you are looking for back pain supplements, check the </span>
       <a href="/back-pain/">"Back Pain" section.</a>
      </p>
      <ul class="faq">
       <li>
        <div class="question"> Rhumatoid Arthritis (dolor de articulaciones en las manos), 
        Cancer, Heart (corazon), energy
      </div>
        <div class="answer">
         <p>Omega-3 fish oil (aceite de pescado) 1000 mg 3-4 times a day. </p>
         <p>Take it with food or else you might get very nauseous. </p>
         <p>Don't take ASPIRIN, ibuprofen, Tylanol, Advil, etc., or your blood will become too watery.</p>
         <ul class="products">
          <li>
           <p class="title">Super Omega-3 Carlson Laboratories &#8211; 130 (capsules/pastillas) &#8211; (2 bottles)</p>
           <p>
            <span>$13 - </span>
            <a href="http://www.luckyvitamin.com/">LuckyVitamin.com</a>
            <span>&#8211; 888-635-0474 &#8211; UPS or USPS (correo postal)</span>
           </p>
           <p>(or buy the store brand in your local big-chain pharmacy like Eckerd's, Rite Aid, CVS, etc.)</p>
          </li>
         </ul>
        </div>
       </li>
       <li>
        <div class="question">OSTERO-ARTHRITIS (dolor de rodilla)</div>
        <div class="answer">
         <p>
          <span>For full info., buy this e-book: </span>
          <a href="http://www.naturalhealthlibrarian.com/ebook.asp?page=Hyaluronic%20Acid">Hyaluronic Acid by Bill Sardi.</a>
         </p>
         <p> 50 mg &#8211; 100 mg hyaluronic acid.</p>
         <p> Much more effective than glucosamine and chondroitin. </p>
         <p> For best results, drink water 3 or more times a day. Also helps for skin and eyes. </p>
         <p>Don't take with blood thinners like aspirin, Advil, Tylenol, NSAIDs, etc. </p>
         <p>Most of the pain should go away in 2 weeks.</p>
         <ul class="products">
          <li>
           <p class="title">Source Naturals Hyaluronic Joint Complex </p>
           <p>This is the most effective.</p>
           <p>$30 &#8211; 120 tablets - Amazon.com &#8211; Free Shipping </p>
           <p>$15 &#8211; 60 tablets - LuckyVitamin.com &#8211; 888-635-0474 &#8211; UPS or USPS (correo postal) </p>
          </li>
          <li>
           <p class="title">Source Naturals Skin Eternal Hyaluronic Acid</p>
           <p>Vitamin Shoppe or GNC - $10 &#8211; 60 tablets.</p>
           <p>Buy this one if you are in a hurry. This is the second best.</p>
          </li>
         </ul>
        </div>
       </li>
      </ul>
     </div>
      <div id="nav_bar">
       <div id="logo">

{{opening_msg}}


{{#no_opening_msg}}

        <p class="nippon">
何とかしてよ        </p>

{{/no_opening_msg}}

        <p class="english">

{{opening_msg_site_title}}

        </p>
       </div>
       <ul class="help">

{{#nav_bar}}


{{#selected_home}}

         <li>
          <a href="/">Home</a>
         </li>

{{/selected_home}}


{{#unselected_home}}

         <li class="selected">
          <span>Home</span>
         </li>

{{/unselected_home}}


{{/nav_bar}}

       </ul>
       <h4>Egg Timers</h4>
       <ul class="to_dos">

{{#nav_bar}}


{{#selected_my-egg-timer}}

         <li>
          <a href="/my-egg-timer/">Old Timer</a>
         </li>

{{/selected_my-egg-timer}}


{{#unselected_my-egg-timer}}

         <li class="selected">
          <span>Old Timer</span>
         </li>

{{/unselected_my-egg-timer}}


{{#selected_busy-noise}}

         <li>
          <a href="/busy-noise/">New Timer</a>
         </li>

{{/selected_busy-noise}}


{{#unselected_busy-noise}}

         <li class="selected">
          <span>New Timer</span>
         </li>

{{/unselected_busy-noise}}


{{/nav_bar}}

       </ul>

{{#development?}}


{{#logged_in?}}

       <h4>Non-Members</h4>
       <ul class="non_members">

{{#nav_bar}}


{{#selected_sign-up}}

         <li>
          <a href="/sign-up/">Sign-up</a>
         </li>

{{/selected_sign-up}}


{{#unselected_sign-up}}

         <li class="selected">
          <span>Sign-up</span>
         </li>

{{/unselected_sign-up}}


{{/nav_bar}}

       </ul>

{{/logged_in?}}

       <h4>Members</h4>
       <ul class="members">

{{#logged_in?}}


{{#nav_bar}}


{{#selected_account}}

         <li>
          <a href="/account/">Account</a>
         </li>

{{/selected_account}}


{{#unselected_account}}

         <li class="selected">
          <span>Account</span>
         </li>

{{/unselected_account}}


{{#selected_log-out}}

         <li>
          <a href="/log-out/">Log-out</a>
         </li>

{{/selected_log-out}}


{{#unselected_log-out}}

         <li class="selected">
          <span>Log-out</span>
         </li>

{{/unselected_log-out}}


{{/nav_bar}}


{{/logged_in?}}


{{#not_logged_in?}}


{{#nav_bar}}


{{#selected_log-in}}

         <li>
          <a href="/log-in/">Log-in</a>
         </li>

{{/selected_log-in}}


{{#unselected_log-in}}

         <li class="selected">
          <span>Log-in</span>
         </li>

{{/unselected_log-in}}


{{/nav_bar}}


{{/not_logged_in?}}

       </ul>
       <h4>Stuff To Do</h4>
       <ul class="to_dos">

{{#nav_bar}}


{{#selected_add-to-do}}

         <li>
          <a href="/add-to-do/">Add to do</a>
         </li>

{{/selected_add-to-do}}


{{#unselected_add-to-do}}

         <li class="selected">
          <span>Add to do</span>
         </li>

{{/unselected_add-to-do}}


{{#selected_today}}

         <li>
          <a href="/today/">Today</a>
         </li>

{{/selected_today}}


{{#unselected_today}}

         <li class="selected">
          <span>Today</span>
         </li>

{{/unselected_today}}


{{#selected_tomorrow}}

         <li>
          <a href="/tomorrow/">Tomorrow</a>
         </li>

{{/selected_tomorrow}}


{{#unselected_tomorrow}}

         <li class="selected">
          <span>Tomorrow</span>
         </li>

{{/unselected_tomorrow}}


{{#selected_this-month}}

         <li>
          <a href="/this-month/">This Month</a>
         </li>

{{/selected_this-month}}


{{#unselected_this-month}}

         <li class="selected">
          <span>This Month</span>
         </li>

{{/unselected_this-month}}


{{/nav_bar}}

       </ul>
       <h4>Lives</h4>
       <ul class="lives">

{{#nav_bar}}


{{#selected_friend}}

         <li>
          <a href="/friend/">Friend</a>
         </li>

{{/selected_friend}}


{{#unselected_friend}}

         <li class="selected">
          <span>Friend</span>
         </li>

{{/unselected_friend}}


{{#selected_family}}

         <li>
          <a href="/family/">Family</a>
         </li>

{{/selected_family}}


{{#unselected_family}}

         <li class="selected">
          <span>Family</span>
         </li>

{{/unselected_family}}


{{#selected_work}}

         <li>
          <a href="/work/">Work</a>
         </li>

{{/selected_work}}


{{#unselected_work}}

         <li class="selected">
          <span>Work</span>
         </li>

{{/unselected_work}}


{{#selected_pet-owner}}

         <li>
          <a href="/pet-owner/">Pet Owner</a>
         </li>

{{/selected_pet-owner}}


{{#unselected_pet-owner}}

         <li class="selected">
          <span>Pet Owner</span>
         </li>

{{/unselected_pet-owner}}


{{#selected_celebrity}}

         <li>
          <a href="/celebrity/">Celebrity</a>
         </li>

{{/selected_celebrity}}


{{#unselected_celebrity}}

         <li class="selected">
          <span>Celebrity</span>
         </li>

{{/unselected_celebrity}}


{{/nav_bar}}

       </ul>

{{/development?}}

       <h4>Clubs</h4>
       <ul class="news">

{{#nav_bar}}


{{#selected_bubblegum}}

         <li>
          <a href="/bubblegum/">Bubblegum Pop</a>
         </li>

{{/selected_bubblegum}}


{{#unselected_bubblegum}}

         <li class="selected">
          <span>Bubblegum Pop</span>
         </li>

{{/unselected_bubblegum}}


{{#selected_child-care}}

         <li>
          <a href="/child-care/">Child Care</a>
         </li>

{{/selected_child-care}}


{{#unselected_child-care}}

         <li class="selected">
          <span>Child Care</span>
         </li>

{{/unselected_child-care}}


{{#selected_computer}}

         <li>
          <a href="/computer/">Computer Use</a>
         </li>

{{/selected_computer}}


{{#unselected_computer}}

         <li class="selected">
          <span>Computer Use</span>
         </li>

{{/unselected_computer}}


{{#selected_economy}}

         <li>
          <a href="/economy/">Economy + War</a>
         </li>

{{/selected_economy}}


{{#unselected_economy}}

         <li class="selected">
          <span>Economy + War</span>
         </li>

{{/unselected_economy}}


{{#selected_hair}}

         <li>
          <a href="/hair/">Skin &amp; Hair</a>
         </li>

{{/selected_hair}}


{{#unselected_hair}}

         <li class="selected">
          <span>Skin &amp; Hair</span>
         </li>

{{/unselected_hair}}


{{#selected_housing}}

         <li>
          <a href="/housing/">Housing &amp; Apartments</a>
         </li>

{{/selected_housing}}


{{#unselected_housing}}

         <li class="selected">
          <span>Housing &amp; Apartments</span>
         </li>

{{/unselected_housing}}


{{#selected_health}}

         <li>
          <a href="/health/">Pain &amp; Disease</a>
         </li>

{{/selected_health}}


{{#unselected_health}}

         <li class="selected">
          <span>Pain &amp; Disease</span>
         </li>

{{/unselected_health}}


{{#selected_preggers}}

         <li>
          <a href="/preggers/">Pregnancy</a>
         </li>

{{/selected_preggers}}


{{#unselected_preggers}}

         <li class="selected">
          <span>Pregnancy</span>
         </li>

{{/unselected_preggers}}


{{#selected_salud}}

         <li>
          <a href="/salud/">Salud (Espa&#241;ol)</a>
         </li>

{{/selected_salud}}


{{#unselected_salud}}

         <li class="selected">
          <span>Salud (Espa&#241;ol)</span>
         </li>

{{/unselected_salud}}


{{#selected_news}}

         <li>
          <a href="/news/">Other Topics</a>
         </li>

{{/selected_news}}


{{#unselected_news}}

         <li class="selected">
          <span>Other Topics</span>
         </li>

{{/unselected_news}}


{{/nav_bar}}

       </ul>
      </div>
    <div id="footer">
     <span>(c) {{copyright_year}} {{site_domain}}. Some rights reserved.</span>
    </div>

{{javascripts}}

   </div>
  </body>
 </html>
