"\n#{      if v = ctx[:flash_msg?]
        if v == true
          "<div id=\"flash_msg\">\n\n#{      if v = ctx[:flash_success]
        if v == true
          "<div class=\"success\">\n   <h4>Success</h4>\n   <div class=\"msg\">#{CGI.escapeHTML(ctx[:msg].to_s)}</div>\n  </div>\n\n"
        elsif v.is_a?(Proc)
          v.call("<div class=\"success\">\n   <h4>Success</h4>\n   <div class=\"msg\">#{CGI.escapeHTML(ctx[:msg].to_s)}</div>\n  </div>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<div class=\"success\">\n   <h4>Success</h4>\n   <div class=\"msg\">#{CGI.escapeHTML(ctx[:msg].to_s)}</div>\n  </div>\n\n"; ctx.pop; r }.join
        end
      end
}#{      if v = ctx[:flash_errors]
        if v == true
          "<div class=\"errors\">\n   <h4>#{CGI.escapeHTML(ctx[:title].to_s)}</h4>\n   <div class=\"msg\">\n    <ul>\n\n#{      if v = ctx[:errors]
        if v == true
          "<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n"; ctx.pop; r }.join
        end
      end
}</ul>\n   </div>\n  </div>\n\n"
        elsif v.is_a?(Proc)
          v.call("<div class=\"errors\">\n   <h4>#{CGI.escapeHTML(ctx[:title].to_s)}</h4>\n   <div class=\"msg\">\n    <ul>\n\n#{      if v = ctx[:errors]
        if v == true
          "<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n"; ctx.pop; r }.join
        end
      end
}</ul>\n   </div>\n  </div>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<div class=\"errors\">\n   <h4>#{CGI.escapeHTML(ctx[:title].to_s)}</h4>\n   <div class=\"msg\">\n    <ul>\n\n#{      if v = ctx[:errors]
        if v == true
          "<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n"; ctx.pop; r }.join
        end
      end
}</ul>\n   </div>\n  </div>\n\n"; ctx.pop; r }.join
        end
      end
}</div>\n\n"
        elsif v.is_a?(Proc)
          v.call("<div id=\"flash_msg\">\n\n#{      if v = ctx[:flash_success]
        if v == true
          "<div class=\"success\">\n   <h4>Success</h4>\n   <div class=\"msg\">#{CGI.escapeHTML(ctx[:msg].to_s)}</div>\n  </div>\n\n"
        elsif v.is_a?(Proc)
          v.call("<div class=\"success\">\n   <h4>Success</h4>\n   <div class=\"msg\">#{CGI.escapeHTML(ctx[:msg].to_s)}</div>\n  </div>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<div class=\"success\">\n   <h4>Success</h4>\n   <div class=\"msg\">#{CGI.escapeHTML(ctx[:msg].to_s)}</div>\n  </div>\n\n"; ctx.pop; r }.join
        end
      end
}#{      if v = ctx[:flash_errors]
        if v == true
          "<div class=\"errors\">\n   <h4>#{CGI.escapeHTML(ctx[:title].to_s)}</h4>\n   <div class=\"msg\">\n    <ul>\n\n#{      if v = ctx[:errors]
        if v == true
          "<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n"; ctx.pop; r }.join
        end
      end
}</ul>\n   </div>\n  </div>\n\n"
        elsif v.is_a?(Proc)
          v.call("<div class=\"errors\">\n   <h4>#{CGI.escapeHTML(ctx[:title].to_s)}</h4>\n   <div class=\"msg\">\n    <ul>\n\n#{      if v = ctx[:errors]
        if v == true
          "<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n"; ctx.pop; r }.join
        end
      end
}</ul>\n   </div>\n  </div>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<div class=\"errors\">\n   <h4>#{CGI.escapeHTML(ctx[:title].to_s)}</h4>\n   <div class=\"msg\">\n    <ul>\n\n#{      if v = ctx[:errors]
        if v == true
          "<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n"; ctx.pop; r }.join
        end
      end
}</ul>\n   </div>\n  </div>\n\n"; ctx.pop; r }.join
        end
      end
}</div>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<div id=\"flash_msg\">\n\n#{      if v = ctx[:flash_success]
        if v == true
          "<div class=\"success\">\n   <h4>Success</h4>\n   <div class=\"msg\">#{CGI.escapeHTML(ctx[:msg].to_s)}</div>\n  </div>\n\n"
        elsif v.is_a?(Proc)
          v.call("<div class=\"success\">\n   <h4>Success</h4>\n   <div class=\"msg\">#{CGI.escapeHTML(ctx[:msg].to_s)}</div>\n  </div>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<div class=\"success\">\n   <h4>Success</h4>\n   <div class=\"msg\">#{CGI.escapeHTML(ctx[:msg].to_s)}</div>\n  </div>\n\n"; ctx.pop; r }.join
        end
      end
}#{      if v = ctx[:flash_errors]
        if v == true
          "<div class=\"errors\">\n   <h4>#{CGI.escapeHTML(ctx[:title].to_s)}</h4>\n   <div class=\"msg\">\n    <ul>\n\n#{      if v = ctx[:errors]
        if v == true
          "<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n"; ctx.pop; r }.join
        end
      end
}</ul>\n   </div>\n  </div>\n\n"
        elsif v.is_a?(Proc)
          v.call("<div class=\"errors\">\n   <h4>#{CGI.escapeHTML(ctx[:title].to_s)}</h4>\n   <div class=\"msg\">\n    <ul>\n\n#{      if v = ctx[:errors]
        if v == true
          "<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n"; ctx.pop; r }.join
        end
      end
}</ul>\n   </div>\n  </div>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<div class=\"errors\">\n   <h4>#{CGI.escapeHTML(ctx[:title].to_s)}</h4>\n   <div class=\"msg\">\n    <ul>\n\n#{      if v = ctx[:errors]
        if v == true
          "<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n"; ctx.pop; r }.join
        end
      end
}</ul>\n   </div>\n  </div>\n\n"; ctx.pop; r }.join
        end
      end
}</div>\n\n"; ctx.pop; r }.join
        end
      end
}"