"\n#{      if v = ctx[:success_msg]
        if v == true
          "<div class=\"success_msg\">\n  <div class=\"title\">Success.</div>\n  <div class=\"msg\">#{CGI.escapeHTML(ctx[:success_msg].to_s)}</div>\n </div>\n\n"
        elsif v.is_a?(Proc)
          v.call("<div class=\"success_msg\">\n  <div class=\"title\">Success.</div>\n  <div class=\"msg\">#{CGI.escapeHTML(ctx[:success_msg].to_s)}</div>\n </div>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<div class=\"success_msg\">\n  <div class=\"title\">Success.</div>\n  <div class=\"msg\">#{CGI.escapeHTML(ctx[:success_msg].to_s)}</div>\n </div>\n\n"; ctx.pop; r }.join
        end
      end
}"