" <div id=\"nav_bar\">\n  <div id=\"logo\">\n   <p class=\"site_title\">\n    <a href=\"/\">#{CGI.escapeHTML(ctx[:site_title].to_s)}</a>\n   </p>\n   <h4>\n~~ ? ! @ ~~   </h4>\n  </div>\n  <ul>\n    <li>\n     <a href=\"/help/\"> Help </a>\n    </li>\n\n#{      if v = ctx[:logged_in?]
        if v == true
          "<li>\n     <a href=\"/log-out/\"> Log-out </a>\n    </li>\n    <li>\n     <a href=\"/lifes/\"> [ My Lifes ] </a>\n    </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>\n     <a href=\"/log-out/\"> Log-out </a>\n    </li>\n    <li>\n     <a href=\"/lifes/\"> [ My Lifes ] </a>\n    </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>\n     <a href=\"/log-out/\"> Log-out </a>\n    </li>\n    <li>\n     <a href=\"/lifes/\"> [ My Lifes ] </a>\n    </li>\n\n"; ctx.pop; r }.join
        end
      end
}#{      if v = ctx[:not_logged_in?]
        if v == true
          "<li>\n     <a href=\"/log-in/\"> Log-in </a>\n    </li>\n    <li>\n     <a href=\"/create-account/\"> Join </a>\n    </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>\n     <a href=\"/log-in/\"> Log-in </a>\n    </li>\n    <li>\n     <a href=\"/create-account/\"> Join </a>\n    </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>\n     <a href=\"/log-in/\"> Log-in </a>\n    </li>\n    <li>\n     <a href=\"/create-account/\"> Join </a>\n    </li>\n\n"; ctx.pop; r }.join
        end
      end
}</ul>\n\n#{      if v = ctx[:logged_in?]
        if v == true
          "<h4>Lifes</h4>\n  <ul>\n\n#{      if v = ctx[:username_nav]
        if v == true
          "#{      if v = ctx[:selected?]
        if v == true
          "<li class=\"selected\">\n     <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n    </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li class=\"selected\">\n     <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n    </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li class=\"selected\">\n     <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n    </li>\n\n"; ctx.pop; r }.join
        end
      end
}#{      if v = ctx[:not_selected?]
        if v == true
          "<li>\n     <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n    </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>\n     <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n    </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>\n     <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n    </li>\n\n"; ctx.pop; r }.join
        end
      end
}"
        elsif v.is_a?(Proc)
          v.call("#{      if v = ctx[:selected?]
        if v == true
          "<li class=\"selected\">\n     <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n    </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li class=\"selected\">\n     <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n    </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li class=\"selected\">\n     <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n    </li>\n\n"; ctx.pop; r }.join
        end
      end
}#{      if v = ctx[:not_selected?]
        if v == true
          "<li>\n     <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n    </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>\n     <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n    </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>\n     <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n    </li>\n\n"; ctx.pop; r }.join
        end
      end
}")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "#{      if v = ctx[:selected?]
        if v == true
          "<li class=\"selected\">\n     <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n    </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li class=\"selected\">\n     <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n    </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li class=\"selected\">\n     <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n    </li>\n\n"; ctx.pop; r }.join
        end
      end
}#{      if v = ctx[:not_selected?]
        if v == true
          "<li>\n     <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n    </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>\n     <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n    </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>\n     <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n    </li>\n\n"; ctx.pop; r }.join
        end
      end
}"; ctx.pop; r }.join
        end
      end
}<li>\n     <a href=\"/lifes/\"> [ Create Life ] </a>\n    </li>\n  </ul>\n\n"
        elsif v.is_a?(Proc)
          v.call("<h4>Lifes</h4>\n  <ul>\n\n#{      if v = ctx[:username_nav]
        if v == true
          "#{      if v = ctx[:selected?]
        if v == true
          "<li class=\"selected\">\n     <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n    </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li class=\"selected\">\n     <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n    </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li class=\"selected\">\n     <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n    </li>\n\n"; ctx.pop; r }.join
        end
      end
}#{      if v = ctx[:not_selected?]
        if v == true
          "<li>\n     <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n    </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>\n     <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n    </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>\n     <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n    </li>\n\n"; ctx.pop; r }.join
        end
      end
}"
        elsif v.is_a?(Proc)
          v.call("#{      if v = ctx[:selected?]
        if v == true
          "<li class=\"selected\">\n     <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n    </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li class=\"selected\">\n     <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n    </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li class=\"selected\">\n     <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n    </li>\n\n"; ctx.pop; r }.join
        end
      end
}#{      if v = ctx[:not_selected?]
        if v == true
          "<li>\n     <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n    </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>\n     <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n    </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>\n     <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n    </li>\n\n"; ctx.pop; r }.join
        end
      end
}")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "#{      if v = ctx[:selected?]
        if v == true
          "<li class=\"selected\">\n     <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n    </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li class=\"selected\">\n     <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n    </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li class=\"selected\">\n     <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n    </li>\n\n"; ctx.pop; r }.join
        end
      end
}#{      if v = ctx[:not_selected?]
        if v == true
          "<li>\n     <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n    </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>\n     <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n    </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>\n     <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n    </li>\n\n"; ctx.pop; r }.join
        end
      end
}"; ctx.pop; r }.join
        end
      end
}<li>\n     <a href=\"/lifes/\"> [ Create Life ] </a>\n    </li>\n  </ul>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<h4>Lifes</h4>\n  <ul>\n\n#{      if v = ctx[:username_nav]
        if v == true
          "#{      if v = ctx[:selected?]
        if v == true
          "<li class=\"selected\">\n     <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n    </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li class=\"selected\">\n     <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n    </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li class=\"selected\">\n     <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n    </li>\n\n"; ctx.pop; r }.join
        end
      end
}#{      if v = ctx[:not_selected?]
        if v == true
          "<li>\n     <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n    </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>\n     <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n    </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>\n     <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n    </li>\n\n"; ctx.pop; r }.join
        end
      end
}"
        elsif v.is_a?(Proc)
          v.call("#{      if v = ctx[:selected?]
        if v == true
          "<li class=\"selected\">\n     <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n    </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li class=\"selected\">\n     <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n    </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li class=\"selected\">\n     <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n    </li>\n\n"; ctx.pop; r }.join
        end
      end
}#{      if v = ctx[:not_selected?]
        if v == true
          "<li>\n     <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n    </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>\n     <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n    </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>\n     <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n    </li>\n\n"; ctx.pop; r }.join
        end
      end
}")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "#{      if v = ctx[:selected?]
        if v == true
          "<li class=\"selected\">\n     <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n    </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li class=\"selected\">\n     <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n    </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li class=\"selected\">\n     <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n    </li>\n\n"; ctx.pop; r }.join
        end
      end
}#{      if v = ctx[:not_selected?]
        if v == true
          "<li>\n     <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n    </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>\n     <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n    </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>\n     <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n    </li>\n\n"; ctx.pop; r }.join
        end
      end
}"; ctx.pop; r }.join
        end
      end
}<li>\n     <a href=\"/lifes/\"> [ Create Life ] </a>\n    </li>\n  </ul>\n\n"; ctx.pop; r }.join
        end
      end
}<h4>Clubs</h4>\n  <ul>\n   <li>\n     <li>\n      <a href=\"/uni/\"> [ View All ] </a>\n     </li>\n   </li>\n\n#{      if v = ctx[:logged_in?]
        if v == true
          "<li>\n     <a href=\"/club-create/\"> [ Create ] </a>\n    </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>\n     <a href=\"/club-create/\"> [ Create ] </a>\n    </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>\n     <a href=\"/club-create/\"> [ Create ] </a>\n    </li>\n\n"; ctx.pop; r }.join
        end
      end
}</ul>\n </div>\n"