 <div id="nav_bar">
  <div id="logo">
   <p class="site_title">
    <a href="/">{{site_title}}</a>
   </p>
   <p class="divider">
{{site_tag_line}}   </p>
  </div>
  <ul>
    <li>
     <a href="/help/"> Help </a>
    </li>

{{#logged_in?}}

    <li>
     <a href="/log-out/"> Log-out </a>
    </li>
    <li>
     <a href="/account/"> [ Account ] </a>
    </li>

{{/logged_in?}}


{{#not_logged_in?}}

    <li>
     <a href="/log-in/"> Log-in </a>
    </li>
    <li>
     <a href="/create-account/"> Join </a>
    </li>

{{/not_logged_in?}}

  </ul>

{{#logged_in?}}

  <p class="divider">Lives</p>
  <ul>

{{#username_nav}}


{{#selected?}}

    <li class="selected">
     <span>&lt; {{username}} &gt;</span>
    </li>

{{/selected?}}


{{#not_selected?}}

    <li>
     <a href="{{href}}"> {{username}} </a>
    </li>

{{/not_selected?}}


{{/username_nav}}

    <li>
     <a href="/create-life/"> [ Create Life ] </a>
    </li>
  </ul>

{{/logged_in?}}

  <p class="divider">Clubs</p>
  <ul>
   <li>
     <li>
      <a href="/clubs/"> [ View All ] </a>
     </li>
   </li>

{{#logged_in?}}

    <li>
     <a href="/club-create/"> [ Create ] </a>
    </li>

{{/logged_in?}}

  </ul>
 </div>
