 <div id="nav_bar">
  <div id="logo">
   <p class="english">
    <a href="/">{{site_title}}</a>
   </p>
   <p class="divider site_tag_line">
{{site_tag_line}}   </p>
  </div>
  <ul class="help">
    <li>
     <a href="/help/"> Help </a>
    </li>

{{#logged_in?}}

    <li>
     <a href="/log-out/"> Log-out </a>
    </li>
    <li>
     <a href="/today/"> [ Today ] </a>
    </li>
    <li>
     <a href="/account/"> [ Account ] </a>
    </li>

{{/logged_in?}}


{{#not_logged_in?}}

    <li>
     <a href="/log-in/"> Log-in </a>
    </li>

{{/not_logged_in?}}

  </ul>

{{#logged_in?}}


{{#not_mini_nav_bar?}}

  <p class="divider">Lives</p>

{{/not_mini_nav_bar?}}

  <ul class="lives">

{{#username_nav}}


{{#selected}}

    <li class="selected">
     <span>&lt; {{username}} &gt;</span>
    </li>

{{/selected}}


{{#not_selected}}

    <li>
     <a href="{{href}}"> {{username}} </a>
    </li>

{{/not_selected}}


{{/username_nav}}


{{#not_mini_nav_bar?}}

    <li>
     <a href="/create-life/"> [ Create ] </a>
    </li>

{{/not_mini_nav_bar?}}

  </ul>

{{/logged_in?}}

  <p class="divider">Clubs</p>
  <ul class="clubs">
    <li>
     <a href="/clubs/"> [ View All ] </a>
    </li>

{{#logged_in?}}

    <li>
     <a href="/club-create/"> [ Create ] </a>
    </li>

{{/logged_in?}}

  </ul>

{{#your_clubs?}}

  <p class="divider">Your Clubs</p>
  <ul class="your_clubs">

{{#your_clubs}}

   <li>
    <a href="{{href}}">{{title}}</a>
   </li>

{{/your_clubs}}

  </ul>

{{/your_clubs?}}


{{#mini_nav_bar?}}

  <ul>
   <li>
     <li>
      <a href="/clubs/"> Clubs </a>
     </li>
   </li>
  </ul>

{{/mini_nav_bar?}}

 </div>
