<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
   <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
   <meta content="text/javascript" http-equiv="Content-Script-Type"/>
   <meta content="text/css" http-equiv="Content-Style-Type"/>
   <meta content="en-US" http-equiv="Content-Language"/>
   <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
   <meta content="en-US" http-equiv="Content-Language"/>

{{#no_meta_cache?}}

   <meta content="Thu, 12 Mar 2004 12:34:12 GMT" http-equiv="expires"/>
   <meta content="no-cache" http-equiv="pragma"/>

{{/no_meta_cache?}}

   <meta content="{{meta_description}}" name="description"/>
   <meta content="{{meta_keywords}}" name="keywords"/>
   <title>{{title}}</title>
   <link href="/favicon.ico" type="image/x-icon" rel="shortcut icon"/>

{{#not_mobile_request?}}

   <link href="{{css_file}}?time=1280364544" type="text/css" media="screen" rel="stylesheet"/>

{{/not_mobile_request?}}


{{head_content}}

  </head>
  <body id="the_body">

{{#flash_msg?}}

    <div id="flash_msg">

{{#flash_success}}

     <div class="success">
      <h4>Success</h4>
      <div class="msg">{{msg}}</div>
     </div>

{{/flash_success}}


{{#flash_errors}}

     <div class="errors">
      <h4>{{title}}</h4>
      <div class="msg">
       <ul>

{{#errors}}

        <li>{{err}}</li>

{{/errors}}

       </ul>
      </div>
     </div>

{{/flash_errors}}

    </div>

{{/flash_msg?}}

   <div id="the_content">
     <h3 id="club_title">{{club_title}}</h3>
      <ul id="club_nav_bar">
       <li class="selected">Home</li>
       <li>
        <a href="{{club_href}}e/">Encyclopedia</a>
       </li>
       <li>
        <a href="{{club_href}}news/">News</a>
       </li>
       <li>
        <a href="{{club_href}}magazine/">Magazine</a>
       </li>
       <li>
        <a href="{{club_href}}fights/">Fights</a>
       </li>
       <li>
        <a href="{{club_href}}qa/">Q &amp; A</a>
       </li>
       <li>
        <a href="{{club_href}}shop/">Shop</a>
       </li>
       <li>
        <a href="{{club_href}}predictions/">Predictions</a>
       </li>
       <li>
        <a href="{{club_href}}random/">Random</a>
       </li>
       <li>
        <a href="{{club_href}}thanks/">Thanks</a>
       </li>

{{#logged_in?}}

       <li>
        <a href="/log-out/">Log-out</a>
       </li>

{{/logged_in?}}


{{#not_logged_in?}}

       <li>
        <a href="/log-in/">Log-in</a>
       </li>

{{/not_logged_in?}}

       <li>
        <a href="/">Megauni</a>
       </li>
      </ul>
     <div id="outer_shell">
      <div id="inner_shell">
       <div id="club_body">
        <div class="col" id="intro">
         <h4>About this universe:</h4>

{{#owner?}}

         <p>You own this universe.</p>

{{/owner?}}

         <div class="teaser">{{club_teaser}}</div>

{{#logged_in?}}


{{#club_updator?}}

         <div>
          <a href="{{club_href_edit}}">Edit settings.</a>
         </div>

{{/club_updator?}}


{{/logged_in?}}

        </div>
         <div class="col" id="mind_control">
          <div id="guide">
           <h4>Stuff you should do:</h4>
           <ul>
            <li>Post something in the "Encyclopedia" section.</li>
            <li>Write anything in the "Random" section.</li>
            <li> Recommend a product in the "Shop" section. </li>
            <li> Ask a question in the "Q &amp; A" section. </li>
           </ul>
          </div>

{{#logged_in?}}


{{#follower_but_not_owner?}}

           <p>You are following this club.</p>

{{/follower_but_not_owner?}}


{{#potential_follower?}}


{{#single_username?}}

           <p>
            <a href="{{follow_href}}">Follow this club.</a>
           </p>

{{/single_username?}}


{{#multiple_usernames?}}

           <form action="/clubs/follow/" method="post" name="form_follow_create" id="form_follow_create">
            <fieldset>
             <label>Follow this club as: </label>
             <select name="username">

{{#current_member_usernames}}

              <option value="{{username}}">{{username}}</option>

{{/current_member_usernames}}

             </select>
            </fieldset>
            <div class="buttons">
             <button>Follow.</button>
            </div>
           </form>

{{/multiple_usernames?}}


{{/potential_follower?}}


{{/logged_in?}}

         </div>
        <div class="col" id="club_messages">
         <h4>Latest Stuff:</h4>

{{#no_messages_latest?}}

         <div class="empty_msg">No messages yet.</div>

{{/no_messages_latest?}}


{{#messages_latest?}}


{{#messages_latest}}

          <div class="message">

{{#title}}

           <strong class="title">{{title}}</strong>

{{/title}}

           <div class="body">{{{compiled_body}}}</div>

{{#has_parent_message?}}

           <div class="permalink">
            <strong>{{message_model_in_english}}</strong>
            <span> for </span>
            <a href="{{parent_message_href}}">this</a>
           </div>

{{/has_parent_message?}}


{{#parent_message?}}

           <div class="permalink">

{{#logged_in?}}

            <a href="{{href}}">Reply</a>
            <span> to this </span>
            <strong> {{message_model_in_english}} </strong>

{{/logged_in?}}


{{#not_logged_in?}}

            <a href="{{href}}">link to this {{message_model_in_english}}</a>

{{/not_logged_in?}}

           </div>

{{/parent_message?}}

          </div>

{{/messages_latest}}


{{/messages_latest?}}

        </div>
       </div>
      </div>
     </div>
   </div>

{{#include_tracking?}}


        <script type="text/javascript"> var mp_protocol = (('https:' == document.location.protocol) ? 'https://' : 'http://'); document.write(unescape('%3Cscript src="' + mp_protocol + 'api.mixpanel.com/site_media/js/api/mixpanel.js" type="text/javascript"%3E%3C/script%3E')); </script> 
        <script type="text/javascript"> try {  var mpmetrics = new MixpanelLib('86bbd0a09d702cd9eef7ba93d59dca93'); } catch(err) { null_fn = function () {}; var mpmetrics = {  track: null_fn,  track_funnel: null_fn,  register: null_fn,  register_once: null_fn, register_funnel: null_fn }; } </script>
        <script type="text/javascript">mpmetrics.track("eveything", { 'referer' : '{{http_referer}}' });</script>
      
{{/include_tracking?}}

  </body>
 </html>
