<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 <html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
   <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
   <meta http-equiv="Content-Script-Type" content="text/javascript"/>
   <meta http-equiv="Content-Style-Type" content="text/css"/>
   <meta http-equiv="Content-Language" content="en-US"/>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
   <meta http-equiv="Content-Language" content="en-US"/>

{{#no_meta_cache}}

   <meta http-equiv="expires" content="Thu, 12 Mar 2004 12:34:12 GMT"/>
   <meta http-equiv="pragma" content="no-cache"/>

{{/no_meta_cache}}

   <meta content="{{meta_description}}" name="description"/>
   <meta content="{{meta_keywords}}" name="keywords"/>
   <title>{{title}}</title>
   <link type="image/x-icon" rel="shortcut icon" href="/favicon.ico"/>

{{#not_mobile_request?}}

   <link type="text/css" rel="stylesheet" media="screen" href="{{css_file}}?time=1275963129"/>

{{/not_mobile_request?}}


{{head_content}}

  </head>
  <body id="the_body">

{{#flash_msg?}}

    <div id="flash_msg">

{{#flash_success}}

     <div class="success">
      <h4>Success</h4>
      <div class="msg">{{msg}}</div>
     </div>

{{/flash_success}}


{{#flash_errors}}

     <div class="errors">
      <h4>{{title}}</h4>
      <div class="msg">
       <ul>

{{#errors}}

        <li>{{err}}</li>

{{/errors}}

       </ul>
      </div>
     </div>

{{/flash_errors}}

    </div>

{{/flash_msg?}}

   <div id="the_content">
     <h3>{{club_title}}</h3>
     <div class="teaser">{{club_teaser}}</div>
      <ul id="club_nav_bar">
       <li class="selected">
        <span>Home</span>
       </li>
       <li>
        <a href="e">Encyclopedia</a>
       </li>
       <li>
        <a href="qa">Q &amp; A</a>
       </li>
       <li>
        <a href="news">News</a>
       </li>

{{#logged_in?}}

       <li>
        <a href="/log-out/">Log-out</a>
       </li>

{{/logged_in?}}


{{#not_logged_in?}}

       <li>
        <a href="/log-in/">Log-in</a>
       </li>

{{/not_logged_in?}}

       <li>
        <a href="/">Megauni</a>
       </li>
      </ul>

{{#logged_in?}}


{{#follower?}}

      <p>You are following this club.</p>

{{/follower?}}


{{#potential_follower?}}


{{#single_username?}}

      <p>
       <a href="{{follow_href}}">Follow this club.</a>
      </p>

{{/single_username?}}


{{#multiple_usernames?}}

      <form method="post" name="form_follow_create" id="form_follow_create" action="/clubs/follow/">
       <fieldset>
        <label>Follow this club as: </label>
        <select name="username">

{{#current_member_usernames}}

         <option value="{{username}}">{{username}}</option>

{{/current_member_usernames}}

        </select>
       </fieldset>
       <div class="buttons">
        <button>Follow.</button>
       </div>
      </form>

{{/multiple_usernames?}}


{{/potential_follower?}}


{{/logged_in?}}


{{#logged_in?}}

      <div id="club_message_create">
       <h4>Post a message:</h4>
       <form method="POST" name="form_club_message_create" id="form_club_message_create" action="/messages/">
        <input type="hidden" value="public" name="privacy"/>
        <input type="hidden" value="{{club_filename}}" name="club_filename"/>

{{#single_username?}}

        <input type="hidden" value="{{first_username}}" name="username"/>

{{/single_username?}}

        <fieldset>
         <select name="message_model">
          <option value="comment">Comment</option>
          <option value="story">Story</option>
          <option value="joke">Humorous ;)</option>
          <option value="question">Question?</option>
          <option value="plea">Request</option>
          <option value="brainstorm">Brainstorm</option>
          <option value="complaint">Complain!</option>
          <option value="product">Product</option>
         </select>
        </fieldset>
        <fieldset>
         <textarea name="body"></textarea>
        </fieldset>
        <fieldset>
         <label>Labels (Separate each with a comma.)</label>
         <input type="text" class="text" value="" name="public_labels"/>
        </fieldset>

{{#multiple_usernames?}}

        <fieldset>
         <label>Post as:</label>
         <select name="owner_id">

{{#multiple_usernames}}

          <option value="{{username}}">{{username}}</option>

{{/multiple_usernames}}

         </select>
        </fieldset>

{{/multiple_usernames?}}

        <fieldset>
         <label>Important?</label>
         <select name="important">
          <option value="">No. It can wait.</option>
          <option value="true">Yes</option>
         </select>
        </fieldset>
        <div class="buttons">
         <button class="create">Save</button>
        </div>
       </form>
      </div>

{{/logged_in?}}

     <div id="club_messages">

{{#no_messages_latest}}

      <div class="empty_msg">No messages yet.</div>

{{/no_messages_latest}}


{{#messages_latest}}

       <div class="message">
        <div class="body">{{{compiled_body}}}</div>
        <div class="permalink">
         <a href="{{href}}">Permalink</a>
        </div>
       </div>

{{/messages_latest}}

     </div>
   </div>

{{#javascripts}}

   <script type="text/javascript" src="{{src}}?{{time_i}}"></script>

{{/javascripts}}


{{#include_tracking?}}


        <script type="text/javascript"> var mp_protocol = (('https:' == document.location.protocol) ? 'https://' : 'http://'); document.write(unescape('%3Cscript src="' + mp_protocol + 'api.mixpanel.com/site_media/js/api/mixpanel.js" type="text/javascript"%3E%3C/script%3E')); </script> 
        <script type="text/javascript"> try {  var mpmetrics = new MixpanelLib('86bbd0a09d702cd9eef7ba93d59dca93'); } catch(err) { null_fn = function () {}; var mpmetrics = {  track: null_fn,  track_funnel: null_fn,  register: null_fn,  register_once: null_fn, register_funnel: null_fn }; } </script>
        <script type="text/javascript">mpmetrics.track("eveything", { 'referer' : '{{http_referer}}' });</script>
      
{{/include_tracking?}}

  </body>
 </html>
