<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 <html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
   <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
   <meta http-equiv="Content-Script-Type" content="text/javascript"/>
   <meta http-equiv="Content-Style-Type" content="text/css"/>
   <meta http-equiv="Content-Language" content="en-US"/>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
   <meta http-equiv="Content-Language" content="en-US"/>

{{#no_meta_cache}}

   <meta http-equiv="expires" content="Thu, 12 Mar 2004 12:34:12 GMT"/>
   <meta http-equiv="pragma" content="no-cache"/>

{{/no_meta_cache}}

   <meta content="{{meta_description}}" name="description"/>
   <meta content="{{meta_keywords}}" name="keywords"/>
   <title>{{title}}</title>
   <link type="image/x-icon" href="/favicon.ico" rel="shortcut icon"/>

{{#not_mobile_request?}}

   <link type="text/css" media="screen" href="{{css_file}}" rel="stylesheet"/>

{{/not_mobile_request?}}


{{head_content}}

  </head>
  <body id="the_body">
   <div id="container">
    <div id="timestamp">{{js_epoch_time}}</div>

{{#loading}}

    <div id="loading">Loading...</div>

{{/loading}}

     <div id="content">
      <div id="notice">
       <span>I'm moving content from my old site, </span>
       <a href="http://www.surferhearts.com/">SurferHearts.com</a>
       <span>, over to this new site.</span>
      </div>
      <div class="news_post" id="label_archives">
       <h4>Archives By Label</h4>
       <div class="body">
        <ul>

{{#public_labels}}

         <li>
          <a href="/clubs/hearts/by_label/{{filename}}/">{{filename}}</a>
         </li>

{{/public_labels}}

        </ul>
       </div>
      </div>
      <div class="news_post" id="date_archives">
       <h4>Archives By Date</h4>
       <div class="body">
        <ul>

{{#months}}

         <li>
          <a href="{{href}}">{{text}}</a>
         </li>

{{/months}}

        </ul>
       </div>
      </div>
     </div>
      <div id="nav_bar">
       <div id="logo">

{{#no_opening_msg}}

        <p class="english">
         <a href="/">{{site_title}}</a>
        </p>

{{/no_opening_msg}}

        <p class="nippon">
を単一化します        </p>
       </div>
       <ul class="help">
         <li>
          <a href="/help/">Help</a>
         </li>

{{#logged_in?}}

         <li>
          <a href="/log-out/">Log-out</a>
         </li>
         <li>
          <a href="/today/">[ Today ]</a>
         </li>
         <li>
          <a href="/account/">[ Account ]</a>
         </li>

{{/logged_in?}}


{{#not_logged_in?}}

         <li>
          <a href="/log-in/">Log-in</a>
         </li>

{{/not_logged_in?}}

       </ul>

{{#logged_in?}}

       <h4>Lives</h4>
       <ul class="lives">

{{#current_member_usernames}}

         <li>
          <a href="/lives/{{username}}/">{{username}}</a>
         </li>

{{/current_member_usernames}}

         <li>
          <a href="/create-life/">[ Create ]</a>
         </li>
       </ul>

{{/logged_in?}}

       <h4>Egg Timers</h4>
       <ul class="to_dos">
         <li>
          <a href="/my-egg-timer/">Old Timer</a>
         </li>
         <li>
          <a href="/busy-noise/">New Timer</a>
         </li>
       </ul>
       <h4>Clubs</h4>
       <ul class="news">
         <li>
          <a href="/salud/">Salud (Espa&#241;ol)</a>
         </li>
         <li>
          <a href="/clubs/back_pain/">Back Pain</a>
         </li>
         <li>
          <a href="/clubs/child_care/">Child Care</a>
         </li>
         <li>
          <a href="/clubs/computer/">Computer Use</a>
         </li>
         <li>
          <a href="/clubs/hair/">Skin &amp; Hair</a>
         </li>
         <li>
          <a href="/clubs/housing/">Housing &amp; Apartments</a>
         </li>
         <li>
          <a href="/clubs/health/">Pain &amp; Disease</a>
         </li>
         <li>
          <a href="/clubs/preggers/">Pregnancy</a>
         </li>
         <li>
          <a href="/clubs/">[ View More ]</a>
         </li>

{{#logged_in?}}

         <li>
          <a href="/clubs/create/">[ Create ]</a>
         </li>

{{/logged_in?}}

       </ul>
      </div>
    <div id="footer">
     <span>(c) {{copyright_year}} {{site_domain}}. Some rights reserved.</span>
    </div>

{{#javascripts}}

    <script type="text/javascript" src="{{src}}?{{time_i}}"></script>

{{/javascripts}}

   </div>
  </body>
 </html>
