<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
   <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
   <meta content="text/javascript" http-equiv="Content-Script-Type"/>
   <meta content="text/css" http-equiv="Content-Style-Type"/>
   <meta content="en-US" http-equiv="Content-Language"/>
   <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
   <meta content="en-US" http-equiv="Content-Language"/>

{{#no_meta_cache?}}

   <meta content="Thu, 12 Mar 2004 12:34:12 GMT" http-equiv="expires"/>
   <meta content="no-cache" http-equiv="pragma"/>

{{/no_meta_cache?}}

   <meta content="{{meta_description}}" name="description"/>
   <meta content="{{meta_keywords}}" name="keywords"/>
   <title>{{title}}</title>
   <link type="image/x-icon" rel="shortcut icon" href="/favicon.ico"/>

{{#not_mobile_request?}}

   <link type="text/css" rel="stylesheet" href="{{css_file}}?time=1281238732" media="screen"/>

{{/not_mobile_request?}}


{{head_content}}

  </head>
  <body id="the_body">

{{#flash_msg?}}

    <div id="flash_msg">

{{#flash_success}}

     <div class="success">
      <h4>Success</h4>
      <div class="msg">{{msg}}</div>
     </div>

{{/flash_success}}


{{#flash_errors}}

     <div class="errors">
      <h4>{{title}}</h4>
      <div class="msg">
       <ul>

{{#errors}}

        <li>{{err}}</li>

{{/errors}}

       </ul>
      </div>
     </div>

{{/flash_errors}}

    </div>

{{/flash_msg?}}

   <div id="the_content">
     <div class="col" id="pretension">
      <div id="coming_soon">
       <strong> Coming Soon </strong>
      </div>
      <h3 class="title">{{site_tag_line}}</h3>
      <ul>
       <li>
        <strong>Make a Personal Encyclopedia</strong>
        <span>: You and your friends
        write in this section to record important
        moments of your life.</span>
       </li>
       <li>
        <strong>Q &amp; A Section</strong>
        <span>: Answer questions people throw
        at you.</span>
       </li>
       <li>
        <strong>Magazine Section</strong>
        <span>: A place to write long stories: travel, reviews, eloquent rants, or explain why you got arrested last Saturday.</span>
       </li>
       <li>
        <strong>Random Section</strong>
        <span>: Post random thoughts that cross
        your messy mind.</span>
       </li>
       <li>
        <strong>Fights Section</strong>
        <span>: Discuss &amp; debate ideas with others in a friendly fashion.</span>
       </li>
       <li>
        <strong>Shop Section</strong>
        <span>: Tell others about the products you love or hate.</span>
       </li>
       <li>
        <strong>News Section</strong>
        <span>: Important things people should know.</span>
       </li>
       <li>
        <strong>Make Requests to Friends</strong>
        <span>: Ask friends to entertain you by posting messages.</span>
       </li>
       <li>
        <strong>Predictions Section</strong>
        <span>: Record your efforts to see into the future.</span>
       </li>
       <li>
        <strong>"Thank You" Section</strong>
        <span>: People post a thank you note when you do something kind.</span>
       </li>
       <li>
        <strong>Mind Control Made Fun &amp; Easy</strong>
        <span>: Bored? Let {{site_domain}} take over your mind.</span>
       </li>
       <li>
        <strong>Multiple Lives</strong>
        <span>: Create different usernames for your work life, home life, babies, pets, fantasy life, etc.</span>
       </li>
       <li>
        <strong>No Popularity Contests</strong>
        <span>: The total number of followers is kept secret to avoid spam and publicity hounds.</span>
       </li>
       <li>
        <strong>Re-posting for easy sharing.</strong>
        <span>: Find something you like in someone else's universe? You can re-post it easily with your own custom intro.</span>
       </li>
      </ul>
     </div>
     <div class="col" id="middle">
      <div id="intro">
       <form method="post" action="/club-search/" name="search_club_form" id="search_club_form">
        <fieldset>
         <label>Find a club by keyword:</label>
         <input type="text" class="text" value="" name="keyword" id="club_keyword"/>
        </fieldset>
        <div class="buttons">
         <button onclick="document.getElementById('search_club_form').submit(); return false;" class="create">Go</button>
        </div>
       </form>
       <div id="footer">
        <span>(c) {{copyright_year}} {{site_domain}}. Some rights reserved.</span>
       </div>
      </div>
      <div id="nav_bar">
       <ul class="help">
        <li>
         <a href="/help/">Help</a>
        </li>

{{#logged_in?}}

        <li>
         <a href="log-out">Log-out</a>
        </li>
        <li>
         <a href="/account/">[ Account ]</a>
        </li>

{{/logged_in?}}


{{#not_logged_in?}}

        <li>
         <a href="/log-in/">Log-in</a>
        </li>

{{/not_logged_in?}}

       </ul>

{{#logged_in?}}

       <div class="divider">Lives</div>
       <ul class="lives">

{{#username_nav}}


{{#selected?}}

         <li class="selected">
          <span>&lt; {{username}} &gt;</span>
         </li>

{{/selected?}}


{{#not_selected?}}

         <li>
          <a href="{{href}}"> {{username}} </a>
         </li>

{{/not_selected?}}


{{/username_nav}}


{{#not_mini_nav_bar?}}

         <li>
          <a href="/create-life/"> [ Create ] </a>
         </li>

{{/not_mini_nav_bar?}}

       </ul>

{{/logged_in?}}

       <div class="divider">Egg Timers</div>
       <ul class="to_dos">
         <li>
          <a href="/my-egg-timer/"> Old </a>
         </li>
         <li>
          <a href="/busy-noise/"> New </a>
         </li>
       </ul>

{{#logged_in?}}

       <div class="divider">Clubs</div>
       <ul class="news">
         <li>
          <a href="/club-create/"> [ Create Club ] </a>
         </li>
       </ul>

{{/logged_in?}}

       <div class="divider">Old Stuff</div>
       <ul class="old_clubs">

{{#old_clubs}}

        <li>
         <a href="{{href}}">{{title}}</a>
        </li>

{{/old_clubs}}

       </ul>
      </div>
     </div>

{{#city_clubs?}}

     <div class="col" id="city_clubs">
      <h3>Cities</h3>

{{#city_clubs}}

       <div class="club">
        <h4>
         <a href="{{href}}">{{title}}</a>
        </h4>

{{#teaser}}

        <div class="teaser">{{teaser}}</div>

{{/teaser}}


{{#messages}}

         <div class="message">

{{#suggest?}}


{{#accepted?}}

          <div class="accepted">
           <span>Accepted</span>
          </div>

{{/accepted?}}


{{#declined?}}

          <div class="declined">
           <span>Declined</span>
          </div>

{{/declined?}}


{{/suggest?}}


{{#title}}

          <strong class="title">{{title}}</strong>

{{/title}}

          <div class="body">{{{compiled_body}}}</div>
          <div class="owner">
           <span>Author: </span>

{{#owner?}}

           <span>you</span>

{{/owner?}}


{{#not_owner?}}

           <a href="{{owner_href}}">{{owner_username}}</a>

{{/not_owner?}}

          </div>

{{#has_parent_message?}}


{{#suggest?}}


{{#parent_message_owner?}}

          <div class="toggle_suggest">

{{#not_accepted?}}

           <a onclick=" 				$('body').addClass('toggling'); 				$('#toggle_message_accept input[name=\'owner_accept\']').val('1');  				$(this).parents('div').first().addClass('loading'); 				$('#toggle_message_accept').attr('action', $(this).attr('href')); 				$('#toggle_message_accept').submit(); 				return false; 			" href="{{href}}">Accept</a>

{{/not_accepted?}}


{{#pending?}}

           <span> or </span>

{{/pending?}}


{{#not_declined?}}

           <a onclick=" 				$('body').addClass('toggling'); 				$('#toggle_message_accept input[name=\'owner_accept\']').val('-1');  				$(this).parents('div').first().addClass('loading'); 				$('#toggle_message_accept').attr('action', $(this).attr('href')); 				$('#toggle_message_accept').submit(); 				return false; 			" href="{{href}}">Decline</a>

{{/not_declined?}}


{{#not_pending?}}

           <span> or </span>
           <a onclick=" 				$('body').addClass('toggling'); 				$('#toggle_message_accept input[name=\'owner_accept\']').val('0');  				$(this).parents('div').first().addClass('loading'); 				$('#toggle_message_accept').attr('action', $(this).attr('href')); 				$('#toggle_message_accept').submit(); 				return false; 			" href="{{href}}">I don't know.</a>

{{/not_pending?}}

          </div>

{{/parent_message_owner?}}


{{/suggest?}}


{{/has_parent_message?}}


{{#has_parent_message?}}

          <div class="permalink">
           <a href="{{href}}">reply</a>
          </div>

{{/has_parent_message?}}


{{#parent_message?}}

          <div class="permalink">

{{#logged_in?}}

           <a href="{{href}}">Reply</a>
           <span> to this </span>
           <strong> {{message_model_in_english}} </strong>

{{/logged_in?}}


{{#not_logged_in?}}

           <a href="{{href}}">link to this {{message_model_in_english}}</a>

{{/not_logged_in?}}

          </div>

{{/parent_message?}}

         </div>

{{/messages}}

       </div>

{{/city_clubs}}

     </div>

{{/city_clubs?}}


{{#political_beauty?}}

     <div class="col" id="political_beauty">
      <h3>Beauty</h3>
      <div id="beauty_clubs">

{{#beauty_clubs}}

        <div class="club">
         <h4>
          <a href="{{href}}">{{title}}</a>
         </h4>

{{#teaser}}

         <div class="teaser">{{teaser}}</div>

{{/teaser}}


{{#messages}}

          <div class="message">

{{#suggest?}}


{{#accepted?}}

           <div class="accepted">
            <span>Accepted</span>
           </div>

{{/accepted?}}


{{#declined?}}

           <div class="declined">
            <span>Declined</span>
           </div>

{{/declined?}}


{{/suggest?}}


{{#title}}

           <strong class="title">{{title}}</strong>

{{/title}}

           <div class="body">{{{compiled_body}}}</div>
           <div class="owner">
            <span>Author: </span>

{{#owner?}}

            <span>you</span>

{{/owner?}}


{{#not_owner?}}

            <a href="{{owner_href}}">{{owner_username}}</a>

{{/not_owner?}}

           </div>

{{#has_parent_message?}}


{{#suggest?}}


{{#parent_message_owner?}}

           <div class="toggle_suggest">

{{#not_accepted?}}

            <a onclick=" 				$('body').addClass('toggling'); 				$('#toggle_message_accept input[name=\'owner_accept\']').val('1');  				$(this).parents('div').first().addClass('loading'); 				$('#toggle_message_accept').attr('action', $(this).attr('href')); 				$('#toggle_message_accept').submit(); 				return false; 			" href="{{href}}">Accept</a>

{{/not_accepted?}}


{{#pending?}}

            <span> or </span>

{{/pending?}}


{{#not_declined?}}

            <a onclick=" 				$('body').addClass('toggling'); 				$('#toggle_message_accept input[name=\'owner_accept\']').val('-1');  				$(this).parents('div').first().addClass('loading'); 				$('#toggle_message_accept').attr('action', $(this).attr('href')); 				$('#toggle_message_accept').submit(); 				return false; 			" href="{{href}}">Decline</a>

{{/not_declined?}}


{{#not_pending?}}

            <span> or </span>
            <a onclick=" 				$('body').addClass('toggling'); 				$('#toggle_message_accept input[name=\'owner_accept\']').val('0');  				$(this).parents('div').first().addClass('loading'); 				$('#toggle_message_accept').attr('action', $(this).attr('href')); 				$('#toggle_message_accept').submit(); 				return false; 			" href="{{href}}">I don't know.</a>

{{/not_pending?}}

           </div>

{{/parent_message_owner?}}


{{/suggest?}}


{{/has_parent_message?}}


{{#has_parent_message?}}

           <div class="permalink">
            <a href="{{href}}">reply</a>
           </div>

{{/has_parent_message?}}


{{#parent_message?}}

           <div class="permalink">

{{#logged_in?}}

            <a href="{{href}}">Reply</a>
            <span> to this </span>
            <strong> {{message_model_in_english}} </strong>

{{/logged_in?}}


{{#not_logged_in?}}

            <a href="{{href}}">link to this {{message_model_in_english}}</a>

{{/not_logged_in?}}

           </div>

{{/parent_message?}}

          </div>

{{/messages}}

        </div>

{{/beauty_clubs}}

      </div>
      <div id="political_clubs">

{{#political_clubs}}

        <div class="club">
         <h4>
          <a href="{{href}}">{{title}}</a>
         </h4>

{{#teaser}}

         <div class="teaser">{{teaser}}</div>

{{/teaser}}


{{#messages}}

          <div class="message">

{{#suggest?}}


{{#accepted?}}

           <div class="accepted">
            <span>Accepted</span>
           </div>

{{/accepted?}}


{{#declined?}}

           <div class="declined">
            <span>Declined</span>
           </div>

{{/declined?}}


{{/suggest?}}


{{#title}}

           <strong class="title">{{title}}</strong>

{{/title}}

           <div class="body">{{{compiled_body}}}</div>
           <div class="owner">
            <span>Author: </span>

{{#owner?}}

            <span>you</span>

{{/owner?}}


{{#not_owner?}}

            <a href="{{owner_href}}">{{owner_username}}</a>

{{/not_owner?}}

           </div>

{{#has_parent_message?}}


{{#suggest?}}


{{#parent_message_owner?}}

           <div class="toggle_suggest">

{{#not_accepted?}}

            <a onclick=" 				$('body').addClass('toggling'); 				$('#toggle_message_accept input[name=\'owner_accept\']').val('1');  				$(this).parents('div').first().addClass('loading'); 				$('#toggle_message_accept').attr('action', $(this).attr('href')); 				$('#toggle_message_accept').submit(); 				return false; 			" href="{{href}}">Accept</a>

{{/not_accepted?}}


{{#pending?}}

            <span> or </span>

{{/pending?}}


{{#not_declined?}}

            <a onclick=" 				$('body').addClass('toggling'); 				$('#toggle_message_accept input[name=\'owner_accept\']').val('-1');  				$(this).parents('div').first().addClass('loading'); 				$('#toggle_message_accept').attr('action', $(this).attr('href')); 				$('#toggle_message_accept').submit(); 				return false; 			" href="{{href}}">Decline</a>

{{/not_declined?}}


{{#not_pending?}}

            <span> or </span>
            <a onclick=" 				$('body').addClass('toggling'); 				$('#toggle_message_accept input[name=\'owner_accept\']').val('0');  				$(this).parents('div').first().addClass('loading'); 				$('#toggle_message_accept').attr('action', $(this).attr('href')); 				$('#toggle_message_accept').submit(); 				return false; 			" href="{{href}}">I don't know.</a>

{{/not_pending?}}

           </div>

{{/parent_message_owner?}}


{{/suggest?}}


{{/has_parent_message?}}


{{#has_parent_message?}}

           <div class="permalink">
            <a href="{{href}}">reply</a>
           </div>

{{/has_parent_message?}}


{{#parent_message?}}

           <div class="permalink">

{{#logged_in?}}

            <a href="{{href}}">Reply</a>
            <span> to this </span>
            <strong> {{message_model_in_english}} </strong>

{{/logged_in?}}


{{#not_logged_in?}}

            <a href="{{href}}">link to this {{message_model_in_english}}</a>

{{/not_logged_in?}}

           </div>

{{/parent_message?}}

          </div>

{{/messages}}

        </div>

{{/political_clubs}}

      </div>
     </div>

{{/political_beauty?}}


{{#joy_clubs?}}

     <div class="col" id="joy_clubs">
      <h3>Pure Joy</h3>

{{#joy_clubs}}

       <div class="club">
        <h4>
         <a href="{{href}}">{{title}}</a>
        </h4>

{{#teaser}}

        <div class="teaser">{{teaser}}</div>

{{/teaser}}


{{#messages}}

         <div class="message">

{{#suggest?}}


{{#accepted?}}

          <div class="accepted">
           <span>Accepted</span>
          </div>

{{/accepted?}}


{{#declined?}}

          <div class="declined">
           <span>Declined</span>
          </div>

{{/declined?}}


{{/suggest?}}


{{#title}}

          <strong class="title">{{title}}</strong>

{{/title}}

          <div class="body">{{{compiled_body}}}</div>
          <div class="owner">
           <span>Author: </span>

{{#owner?}}

           <span>you</span>

{{/owner?}}


{{#not_owner?}}

           <a href="{{owner_href}}">{{owner_username}}</a>

{{/not_owner?}}

          </div>

{{#has_parent_message?}}


{{#suggest?}}


{{#parent_message_owner?}}

          <div class="toggle_suggest">

{{#not_accepted?}}

           <a onclick=" 				$('body').addClass('toggling'); 				$('#toggle_message_accept input[name=\'owner_accept\']').val('1');  				$(this).parents('div').first().addClass('loading'); 				$('#toggle_message_accept').attr('action', $(this).attr('href')); 				$('#toggle_message_accept').submit(); 				return false; 			" href="{{href}}">Accept</a>

{{/not_accepted?}}


{{#pending?}}

           <span> or </span>

{{/pending?}}


{{#not_declined?}}

           <a onclick=" 				$('body').addClass('toggling'); 				$('#toggle_message_accept input[name=\'owner_accept\']').val('-1');  				$(this).parents('div').first().addClass('loading'); 				$('#toggle_message_accept').attr('action', $(this).attr('href')); 				$('#toggle_message_accept').submit(); 				return false; 			" href="{{href}}">Decline</a>

{{/not_declined?}}


{{#not_pending?}}

           <span> or </span>
           <a onclick=" 				$('body').addClass('toggling'); 				$('#toggle_message_accept input[name=\'owner_accept\']').val('0');  				$(this).parents('div').first().addClass('loading'); 				$('#toggle_message_accept').attr('action', $(this).attr('href')); 				$('#toggle_message_accept').submit(); 				return false; 			" href="{{href}}">I don't know.</a>

{{/not_pending?}}

          </div>

{{/parent_message_owner?}}


{{/suggest?}}


{{/has_parent_message?}}


{{#has_parent_message?}}

          <div class="permalink">
           <a href="{{href}}">reply</a>
          </div>

{{/has_parent_message?}}


{{#parent_message?}}

          <div class="permalink">

{{#logged_in?}}

           <a href="{{href}}">Reply</a>
           <span> to this </span>
           <strong> {{message_model_in_english}} </strong>

{{/logged_in?}}


{{#not_logged_in?}}

           <a href="{{href}}">link to this {{message_model_in_english}}</a>

{{/not_logged_in?}}

          </div>

{{/parent_message?}}

         </div>

{{/messages}}

       </div>

{{/joy_clubs}}

     </div>

{{/joy_clubs?}}


{{#random_clubs?}}

     <div class="col" id="random_clubs">
      <h4>An example of a universe:</h4>

{{#random_clubs}}

       <div class="club">
        <h4>
         <a href="{{href}}">{{title}}</a>
        </h4>

{{#teaser}}

        <div class="teaser">{{teaser}}</div>

{{/teaser}}


{{#messages}}

         <div class="message">

{{#suggest?}}


{{#accepted?}}

          <div class="accepted">
           <span>Accepted</span>
          </div>

{{/accepted?}}


{{#declined?}}

          <div class="declined">
           <span>Declined</span>
          </div>

{{/declined?}}


{{/suggest?}}


{{#title}}

          <strong class="title">{{title}}</strong>

{{/title}}

          <div class="body">{{{compiled_body}}}</div>
          <div class="owner">
           <span>Author: </span>

{{#owner?}}

           <span>you</span>

{{/owner?}}


{{#not_owner?}}

           <a href="{{owner_href}}">{{owner_username}}</a>

{{/not_owner?}}

          </div>

{{#has_parent_message?}}


{{#suggest?}}


{{#parent_message_owner?}}

          <div class="toggle_suggest">

{{#not_accepted?}}

           <a onclick=" 				$('body').addClass('toggling'); 				$('#toggle_message_accept input[name=\'owner_accept\']').val('1');  				$(this).parents('div').first().addClass('loading'); 				$('#toggle_message_accept').attr('action', $(this).attr('href')); 				$('#toggle_message_accept').submit(); 				return false; 			" href="{{href}}">Accept</a>

{{/not_accepted?}}


{{#pending?}}

           <span> or </span>

{{/pending?}}


{{#not_declined?}}

           <a onclick=" 				$('body').addClass('toggling'); 				$('#toggle_message_accept input[name=\'owner_accept\']').val('-1');  				$(this).parents('div').first().addClass('loading'); 				$('#toggle_message_accept').attr('action', $(this).attr('href')); 				$('#toggle_message_accept').submit(); 				return false; 			" href="{{href}}">Decline</a>

{{/not_declined?}}


{{#not_pending?}}

           <span> or </span>
           <a onclick=" 				$('body').addClass('toggling'); 				$('#toggle_message_accept input[name=\'owner_accept\']').val('0');  				$(this).parents('div').first().addClass('loading'); 				$('#toggle_message_accept').attr('action', $(this).attr('href')); 				$('#toggle_message_accept').submit(); 				return false; 			" href="{{href}}">I don't know.</a>

{{/not_pending?}}

          </div>

{{/parent_message_owner?}}


{{/suggest?}}


{{/has_parent_message?}}


{{#has_parent_message?}}

          <div class="permalink">
           <a href="{{href}}">reply</a>
          </div>

{{/has_parent_message?}}


{{#parent_message?}}

          <div class="permalink">

{{#logged_in?}}

           <a href="{{href}}">Reply</a>
           <span> to this </span>
           <strong> {{message_model_in_english}} </strong>

{{/logged_in?}}


{{#not_logged_in?}}

           <a href="{{href}}">link to this {{message_model_in_english}}</a>

{{/not_logged_in?}}

          </div>

{{/parent_message?}}

         </div>

{{/messages}}

       </div>

{{/random_clubs}}

     </div>

{{/random_clubs?}}

   </div>

{{#include_tracking?}}


        <script type="text/javascript"> var mp_protocol = (('https:' == document.location.protocol) ? 'https://' : 'http://'); document.write(unescape('%3Cscript src="' + mp_protocol + 'api.mixpanel.com/site_media/js/api/mixpanel.js" type="text/javascript"%3E%3C/script%3E')); </script> 
        <script type="text/javascript"> try {  var mpmetrics = new MixpanelLib('86bbd0a09d702cd9eef7ba93d59dca93'); } catch(err) { null_fn = function () {}; var mpmetrics = {  track: null_fn,  track_funnel: null_fn,  register: null_fn,  register_once: null_fn, register_funnel: null_fn }; } </script>
        <script type="text/javascript">mpmetrics.track("eveything", { 'referer' : '{{http_referer}}' });</script>
      
{{/include_tracking?}}

  </body>
 </html>
