<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 <html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
   <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
   <meta content="text/javascript" http-equiv="Content-Script-Type"/>
   <meta content="text/css" http-equiv="Content-Style-Type"/>
   <meta content="en-US" http-equiv="Content-Language"/>
   <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
   <meta content="en-US" http-equiv="Content-Language"/>

{{#no_meta_cache}}

   <meta content="Thu, 12 Mar 2004 12:34:12 GMT" http-equiv="expires"/>
   <meta content="no-cache" http-equiv="pragma"/>

{{/no_meta_cache}}

   <meta content="{{meta_description}}" name="description"/>
   <meta content="{{meta_keywords}}" name="keywords"/>
   <title>{{title}}</title>
   <link type="image/x-icon" href="/favicon.ico" rel="shortcut icon"/>

{{#not_mobile_request?}}

   <link type="text/css" href="{{css_file}}?time=1273611514" rel="stylesheet" media="screen"/>

{{/not_mobile_request?}}


{{head_content}}

  </head>
  <body id="the_body">
   <div id="container">
    <div id="timestamp">{{js_epoch_time}}</div>

{{#loading}}

    <div id="loading">Loading...</div>

{{/loading}}

     <div id="about_me">
      <p>
       <span>Below is a list of my favorite products.</span>
      </p>
     </div>
     <div class="revols" id="health">
      <h2>Salud (Health)</h2>
      <p>
       <span>No tome Aspirina.</span>
       <a href="http://www.lewrockwell.com/spl/prevent-heart-attack-or-stroke.html">Mas detailes.</a>
      </p>
      <p>Longevinex - (866) 405-4000</p>
      <ul>
       <li>
        <a href="http://www.longevinexadvantage.com">
Longevinex Advantage        </a>
        <br/>
        <span> - Nueva formula.</span>
       </li>
      </ul>
      <p>
       <span>Life Span Nutrition - (800) 247-5731 </span>
      </p>
      <ul>
       <li>
        <span>Web Address:</span>
        <a href="http://www.LifeSpanNutrition.com/">
LifeSpanNutrition.com        </a>
       </li>
       <li>
        <a href="http://www.lifespannutrition.com/products.asp?itemnumber=660">
30 Minutes of Sunshine        </a>
        <br/>
        <span> - 3 botellas - $30 - Vitamin D3 with Magnesium Citrate.</span>
       </li>
       <li>
        <a href="http://www.lifespannutrition.com/products.asp?itemnumber=67">
Perfect Multi Super Greens         </a>
        <br/>
        <span> - $33 - 120 pastillas </span>
       </li>
      </ul>
      <p>
       <span>Lucky Vitamin - 888-635-0474 - </span>
      </p>
      <ul>
       <li>
        <span>Sitio:</span>
        <a href="http://www.luckyVitamin.com/">
LuckyVitamin.com        </a>
       </li>
       <li>
        <a href="http://www.luckyvitamin.com/item/itemKey/69152">
Source Naturals Hyaluronic Joint Complex        </a>
        <br/>
        <span> - $15 - 60 pastillas - Osteo-arthritis knee pain (dolor de rodilla).</span>
       </li>
       <li>
        <a href="http://www.luckyvitamin.com/item/itemKey/53515">
NAC        </a>
        <br/>
        <span>Para el ligado. Tome con la Vitamina C. (For the liver. Take it with Vitamin C.)</span>
       </li>
       <li>
        <a href="http://www.luckyvitamin.com/item/itemKey/59157">
Super Omega-3 Carlson        </a>
        <br/>
        <span> - $13 - 130 pastillas</span>
       </li>
       <li>
        <a href="http://www.luckyvitamin.com/item/itemKey/56415">
Forti-Flax        </a>
        <br/>
        <span> - $6 - (polvo de linaza)</span>
       </li>
       <li>
        <span>Flaxseed alternative: </span>
        <a href="http://www.luckyvitamin.com/item/itemKey/58713">
Brevail        </a>
        <br/>
        <span> - $14 - 30 pastillas - (extracto de linaza)</span>
       </li>
       <li>
        <a href="http://www.luckyvitamin.com/item/itemKey/67144">
Source Naturals IP-6        </a>
        <br/>
        <span> - $10 - 90 pastillas - (Usa esto cuando tiene tumores. Estomago vacilo, con agua, no tome otra vitamina o comida hasta 2 horas antes y despues.)</span>
       </li>
       <li>
        <span>
Stevia Sweetener for Diabetics        </span>
        <a href="http://www.luckyvitamin.com/item/itemKey/70095">
Wisdom Natural Brands - SweetLeaf Stevia Plus - 100 Packet(s)        </a>
       </li>
       <li>
        <span>
Stevia Sweetener - (Cheaper, but good)        </span>
        <a href="http://www.luckyvitamin.com/item/itemKey/75705">
NOW Foods - Non-Bitter Stevia Extract Certified Organic - 100 Packet(s)        </a>
       </li>
      </ul>
      <p>
       <span>Books (Libros en Ingles)</span>
      </p>
      <ul>
       <li>
        <a href="http://www.thecancerbook.com">
You Don't Have to Be Afraid of Cancer Anymore        </a>
        <br/>
        <span> - (El libro de cancer) - 500+ pages - (800) 247-5731</span>
       </li>
       <li>
        <a href="http://www.naturalhealthlibrarian.com/">
Natural Health Librarian        </a>
        <br/>
        <span>E-books. (Libros digitales)</span>
       </li>
      </ul>
      <p>
       <span>Stevia Extract</span>
      </p>
      <ul>
       <li>
        <span>Marka: </span>
        <a href="http://www.truviastore.com/">
Truvia        </a>
        <br/>
        <span>Super-market or </span>
        <a href="http://www.truviastore.com/">
online.        </a>
       </li>
      </ul>
     </div>
     <div class="revols" id="soap">
      <h2>Jabon (Soap)</h2>
      <ul>
       <li>
        <span>
Shampoo and Body/Hand Wash        </span>
        <a href="http://www.luckyvitamin.com/item/keyword/black+soap/itemKey/61865">
Dr. Woods Black Soap        </a>
       </li>
       <li>
        <span>
Shampoo        </span>
        <a href="http://www.luckyvitamin.com/item/itemKey/75203">
Kirk's Natural - Original Coco Castile        </a>
       </li>
      </ul>
      <h2>Dietes (Teeth)</h2>
      <ul>
       <li>
        <span>Non-Flouride Toothpaste</span>
        <a href="http://www.luckyvitamin.com/item/itemKey/53785">
Now XyliWhite Toothpaste Gel        </a>
       </li>
       <li>
        <span>Vitamin D3</span>
        <a href="http://www.lifespannutrition.com/products.asp?itemnumber=660">
30 Minutes of Sunshine        </a>
       </li>
      </ul>
      <h2>Inflation (Economia)</h2>
      <ul>
       <li>
        <span>
Prices continue to slowly climb. Here is one possible solution:        </span>
        <a href="http://www.bullionvault.com/">Bullion Vault</a>
       </li>
       <li>
        <span>This article explains gov't (local/state/federal) is taking 50% of wealth out of the economy:</span>
        <a href="http://www.atimes.com/atimes/Global_Economy/KH14Dj01.html">Bank on Inflation</a>
       </li>
      </ul>
     </div>
     <div class="revols" id="home">
      <h2>Para La Casa (Home)</h2>
      <p>
       <span>Mouse Traps (Ratones)</span>
      </p>
      <ul>
       <li>
        <span>Big:</span>
        <a href="http://www.amazon.com/d-CON-00027-Ultra-Covered-Mouse/dp/B000P9URDQ/">
d-CON Ultra Set Covered Mouse Trap        </a>
       </li>
       <li>
        <span>Small:</span>
        <a href="http://shop.ebay.com/items/?_nkw=d-con+mouse+trap+12">
ebay: d-con mouse trap 12        </a>
       </li>
      </ul>
      <p>
       <span>Para Correo Propaganda (Stop junk mail)</span>
      </p>
      <ul>
       <li>
        <span>Mailstopper Tonic:</span>
        <br/>
        <a href="http://mailstopper.tonic.com">mailstopper.tonic.com</a>
        <br/>
        <span>El sitio es ingles solamenta. (English only site.)</span>
       </li>
      </ul>
      <p>
       <span>Telefono (Cellular)</span>
      </p>
      <ul>
       <li>
        <span>No Contract - $50 after taxes - Unlimited Night/Weekend</span>
        <br/>
        <a href="http://www.t-mobile.com/shop/plans/cell-phone-plans-detail.aspx?tp=tb1&amp;rateplan=Individual-600-with-FlexPay-Monthly">Individual 600 with FlexPay</a>
       </li>
       <li>
        <span>No Contract - $60 after taxes - Unlimited Night/Weekend</span>
        <br/>
        <a href="http://www.t-mobile.com/shop/plans/cell-phone-plans-detail.aspx?tp=tb1&amp;rateplan=Individual%201000%20Plus%20with%20FlexPay%20Monthly">Individual 1000 Plus with FlexPay</a>
        <br/>
        <span>Make sure it says "1000 Plus".</span>
       </li>
       <li>
        <span>Choose EasyPay (recurring credit card billing) to avoid $5 fee each month.</span>
       </li>
      </ul>
     </div>
    <div id="footer">
     <span>(c) {{copyright_year}} {{site_domain}}. Some rights reserved.</span>
    </div>

{{#javascripts}}

    <script type="text/javascript" src="{{src}}?{{time_i}}"></script>

{{/javascripts}}


{{#include_tracking?}}


          <script type="text/javascript"> var mp_protocol = (('https:' == document.location.protocol) ? 'https://' : 'http://'); document.write(unescape('%3Cscript src="' + mp_protocol + 'api.mixpanel.com/site_media/js/api/mixpanel.js" type="text/javascript"%3E%3C/script%3E')); </script> 
          <script type="text/javascript"> try {  var mpmetrics = new MixpanelLib('86bbd0a09d702cd9eef7ba93d59dca93'); } catch(err) { null_fn = function () {}; var mpmetrics = {  track: null_fn,  track_funnel: null_fn,  register: null_fn,  register_once: null_fn, register_funnel: null_fn }; } </script>
          <script type="text/javascript">mpmetrics.track("eveything", { 'referer' : '{{http_referer}}' });</script>
        
{{/include_tracking?}}

   </div>
  </body>
 </html>
