"<?xml version=\"1.0\" encoding=\"UTF-8\"?> <!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Strict//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\">\n <html lang=\"en\" xmlns=\"http://www.w3.org/1999/xhtml\" xml:lang=\"en\">\n  <head>\n   <meta content=\"text/html; charset=utf-8\" http-equiv=\"Content-Type\"/>\n   <meta content=\"text/javascript\" http-equiv=\"Content-Script-Type\"/>\n   <meta content=\"text/css\" http-equiv=\"Content-Style-Type\"/>\n   <meta content=\"en-US\" http-equiv=\"Content-Language\"/>\n   <meta content=\"text/html; charset=utf-8\" http-equiv=\"Content-Type\"/>\n   <meta content=\"en-US\" http-equiv=\"Content-Language\"/>\n\n#{      v = ctx[:meta_cache?]
      if v.nil? || v == false || v.respond_to?(:empty?) && v.empty?
        "<meta content=\"Thu, 12 Mar 2004 12:34:12 GMT\" http-equiv=\"expires\"/>\n   <meta content=\"no-cache\" http-equiv=\"pragma\"/>\n\n"
      end
}#{      if v = ctx[:meta_menu]
        if v == true
          "<meta content=\"#{CGI.escapeHTML(ctx[:content].to_s)}\" name=\"#{CGI.escapeHTML(ctx[:name].to_s)}\"/>\n\n"
        elsif v.is_a?(Proc)
          v.call("<meta content=\"#{CGI.escapeHTML(ctx[:content].to_s)}\" name=\"#{CGI.escapeHTML(ctx[:name].to_s)}\"/>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<meta content=\"#{CGI.escapeHTML(ctx[:content].to_s)}\" name=\"#{CGI.escapeHTML(ctx[:name].to_s)}\"/>\n\n"; ctx.pop; r }.join
        end
      end
}#{      if v = ctx[:page]
        if v == true
          "<title>#{CGI.escapeHTML(ctx[:title].to_s)}</title>\n\n"
        elsif v.is_a?(Proc)
          v.call("<title>#{CGI.escapeHTML(ctx[:title].to_s)}</title>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<title>#{CGI.escapeHTML(ctx[:title].to_s)}</title>\n\n"; ctx.pop; r }.join
        end
      end
}<link type=\"image/x-icon\" rel=\"shortcut icon\" href=\"/favicon.ico\"/>\n\n#{      if v = ctx[:not_mobile_request?]
        if v == true
          "<link type=\"text/css\" rel=\"stylesheet\" href=\"#{CGI.escapeHTML(ctx[:css_file].to_s)}?time=1282081084\" media=\"screen\"/>\n\n"
        elsif v.is_a?(Proc)
          v.call("<link type=\"text/css\" rel=\"stylesheet\" href=\"#{CGI.escapeHTML(ctx[:css_file].to_s)}?time=1282081084\" media=\"screen\"/>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<link type=\"text/css\" rel=\"stylesheet\" href=\"#{CGI.escapeHTML(ctx[:css_file].to_s)}?time=1282081084\" media=\"screen\"/>\n\n"; ctx.pop; r }.join
        end
      end
}#{CGI.escapeHTML(ctx[:head_content].to_s)}\n\n  </head>\n  <body id=\"the_body\">\n\n#{      if v = ctx[:flash_msg?]
        if v == true
          "<div id=\"flash_msg\">\n\n#{      if v = ctx[:flash_success]
        if v == true
          "<div class=\"success\">\n      <h4>Success</h4>\n      <div class=\"msg\">#{CGI.escapeHTML(ctx[:msg].to_s)}</div>\n     </div>\n\n"
        elsif v.is_a?(Proc)
          v.call("<div class=\"success\">\n      <h4>Success</h4>\n      <div class=\"msg\">#{CGI.escapeHTML(ctx[:msg].to_s)}</div>\n     </div>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<div class=\"success\">\n      <h4>Success</h4>\n      <div class=\"msg\">#{CGI.escapeHTML(ctx[:msg].to_s)}</div>\n     </div>\n\n"; ctx.pop; r }.join
        end
      end
}#{      if v = ctx[:flash_errors]
        if v == true
          "<div class=\"errors\">\n      <h4>#{CGI.escapeHTML(ctx[:title].to_s)}</h4>\n      <div class=\"msg\">\n       <ul>\n\n#{      if v = ctx[:errors]
        if v == true
          "<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n"; ctx.pop; r }.join
        end
      end
}</ul>\n      </div>\n     </div>\n\n"
        elsif v.is_a?(Proc)
          v.call("<div class=\"errors\">\n      <h4>#{CGI.escapeHTML(ctx[:title].to_s)}</h4>\n      <div class=\"msg\">\n       <ul>\n\n#{      if v = ctx[:errors]
        if v == true
          "<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n"; ctx.pop; r }.join
        end
      end
}</ul>\n      </div>\n     </div>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<div class=\"errors\">\n      <h4>#{CGI.escapeHTML(ctx[:title].to_s)}</h4>\n      <div class=\"msg\">\n       <ul>\n\n#{      if v = ctx[:errors]
        if v == true
          "<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n"; ctx.pop; r }.join
        end
      end
}</ul>\n      </div>\n     </div>\n\n"; ctx.pop; r }.join
        end
      end
}</div>\n\n"
        elsif v.is_a?(Proc)
          v.call("<div id=\"flash_msg\">\n\n#{      if v = ctx[:flash_success]
        if v == true
          "<div class=\"success\">\n      <h4>Success</h4>\n      <div class=\"msg\">#{CGI.escapeHTML(ctx[:msg].to_s)}</div>\n     </div>\n\n"
        elsif v.is_a?(Proc)
          v.call("<div class=\"success\">\n      <h4>Success</h4>\n      <div class=\"msg\">#{CGI.escapeHTML(ctx[:msg].to_s)}</div>\n     </div>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<div class=\"success\">\n      <h4>Success</h4>\n      <div class=\"msg\">#{CGI.escapeHTML(ctx[:msg].to_s)}</div>\n     </div>\n\n"; ctx.pop; r }.join
        end
      end
}#{      if v = ctx[:flash_errors]
        if v == true
          "<div class=\"errors\">\n      <h4>#{CGI.escapeHTML(ctx[:title].to_s)}</h4>\n      <div class=\"msg\">\n       <ul>\n\n#{      if v = ctx[:errors]
        if v == true
          "<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n"; ctx.pop; r }.join
        end
      end
}</ul>\n      </div>\n     </div>\n\n"
        elsif v.is_a?(Proc)
          v.call("<div class=\"errors\">\n      <h4>#{CGI.escapeHTML(ctx[:title].to_s)}</h4>\n      <div class=\"msg\">\n       <ul>\n\n#{      if v = ctx[:errors]
        if v == true
          "<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n"; ctx.pop; r }.join
        end
      end
}</ul>\n      </div>\n     </div>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<div class=\"errors\">\n      <h4>#{CGI.escapeHTML(ctx[:title].to_s)}</h4>\n      <div class=\"msg\">\n       <ul>\n\n#{      if v = ctx[:errors]
        if v == true
          "<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n"; ctx.pop; r }.join
        end
      end
}</ul>\n      </div>\n     </div>\n\n"; ctx.pop; r }.join
        end
      end
}</div>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<div id=\"flash_msg\">\n\n#{      if v = ctx[:flash_success]
        if v == true
          "<div class=\"success\">\n      <h4>Success</h4>\n      <div class=\"msg\">#{CGI.escapeHTML(ctx[:msg].to_s)}</div>\n     </div>\n\n"
        elsif v.is_a?(Proc)
          v.call("<div class=\"success\">\n      <h4>Success</h4>\n      <div class=\"msg\">#{CGI.escapeHTML(ctx[:msg].to_s)}</div>\n     </div>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<div class=\"success\">\n      <h4>Success</h4>\n      <div class=\"msg\">#{CGI.escapeHTML(ctx[:msg].to_s)}</div>\n     </div>\n\n"; ctx.pop; r }.join
        end
      end
}#{      if v = ctx[:flash_errors]
        if v == true
          "<div class=\"errors\">\n      <h4>#{CGI.escapeHTML(ctx[:title].to_s)}</h4>\n      <div class=\"msg\">\n       <ul>\n\n#{      if v = ctx[:errors]
        if v == true
          "<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n"; ctx.pop; r }.join
        end
      end
}</ul>\n      </div>\n     </div>\n\n"
        elsif v.is_a?(Proc)
          v.call("<div class=\"errors\">\n      <h4>#{CGI.escapeHTML(ctx[:title].to_s)}</h4>\n      <div class=\"msg\">\n       <ul>\n\n#{      if v = ctx[:errors]
        if v == true
          "<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n"; ctx.pop; r }.join
        end
      end
}</ul>\n      </div>\n     </div>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<div class=\"errors\">\n      <h4>#{CGI.escapeHTML(ctx[:title].to_s)}</h4>\n      <div class=\"msg\">\n       <ul>\n\n#{      if v = ctx[:errors]
        if v == true
          "<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>#{CGI.escapeHTML(ctx[:err].to_s)}</li>\n\n"; ctx.pop; r }.join
        end
      end
}</ul>\n      </div>\n     </div>\n\n"; ctx.pop; r }.join
        end
      end
}</div>\n\n"; ctx.pop; r }.join
        end
      end
}<div id=\"the_content\">\n     <div id=\"the_form\">\n      <h3>Create a New Account</h3>\n      <form method=\"post\" action=\"/member/\" name=\"form_member_create\" id=\"form_member_create\">\n       <fieldset>\n        <label>Username</label>\n        <input type=\"text\" class=\"text\" value=\"#{CGI.escapeHTML(ctx[:session_form_username].to_s)}\" name=\"add_username\" id=\"username_name\"/>\n       </fieldset>\n       <fieldset>\n        <label>Password</label>\n        <input type=\"password\" class=\"text\" value=\"\" name=\"password\" id=\"password\"/>\n       </fieldset>\n       <fieldset>\n        <label>\n         <span>Confirm Password</span>\n        </label>\n        <input type=\"password\" class=\"text\" value=\"\" name=\"confirm_password\" id=\"confirm_password\"/>\n       </fieldset>\n       <fieldset>\n        <label>Language</label>\n        <select name=\"lang\">\n\n#{      if v = ctx[:languages]
        if v == true
          "#{      if v = ctx[:selected?]
        if v == true
          "<option selected=\"selected\" value=\"filename\">#{CGI.escapeHTML(ctx[:name].to_s)}</option>\n\n"
        elsif v.is_a?(Proc)
          v.call("<option selected=\"selected\" value=\"filename\">#{CGI.escapeHTML(ctx[:name].to_s)}</option>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<option selected=\"selected\" value=\"filename\">#{CGI.escapeHTML(ctx[:name].to_s)}</option>\n\n"; ctx.pop; r }.join
        end
      end
}#{      if v = ctx[:not_selected?]
        if v == true
          "<option value=\"filename\">#{CGI.escapeHTML(ctx[:name].to_s)}</option>\n\n"
        elsif v.is_a?(Proc)
          v.call("<option value=\"filename\">#{CGI.escapeHTML(ctx[:name].to_s)}</option>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<option value=\"filename\">#{CGI.escapeHTML(ctx[:name].to_s)}</option>\n\n"; ctx.pop; r }.join
        end
      end
}"
        elsif v.is_a?(Proc)
          v.call("#{      if v = ctx[:selected?]
        if v == true
          "<option selected=\"selected\" value=\"filename\">#{CGI.escapeHTML(ctx[:name].to_s)}</option>\n\n"
        elsif v.is_a?(Proc)
          v.call("<option selected=\"selected\" value=\"filename\">#{CGI.escapeHTML(ctx[:name].to_s)}</option>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<option selected=\"selected\" value=\"filename\">#{CGI.escapeHTML(ctx[:name].to_s)}</option>\n\n"; ctx.pop; r }.join
        end
      end
}#{      if v = ctx[:not_selected?]
        if v == true
          "<option value=\"filename\">#{CGI.escapeHTML(ctx[:name].to_s)}</option>\n\n"
        elsif v.is_a?(Proc)
          v.call("<option value=\"filename\">#{CGI.escapeHTML(ctx[:name].to_s)}</option>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<option value=\"filename\">#{CGI.escapeHTML(ctx[:name].to_s)}</option>\n\n"; ctx.pop; r }.join
        end
      end
}")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "#{      if v = ctx[:selected?]
        if v == true
          "<option selected=\"selected\" value=\"filename\">#{CGI.escapeHTML(ctx[:name].to_s)}</option>\n\n"
        elsif v.is_a?(Proc)
          v.call("<option selected=\"selected\" value=\"filename\">#{CGI.escapeHTML(ctx[:name].to_s)}</option>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<option selected=\"selected\" value=\"filename\">#{CGI.escapeHTML(ctx[:name].to_s)}</option>\n\n"; ctx.pop; r }.join
        end
      end
}#{      if v = ctx[:not_selected?]
        if v == true
          "<option value=\"filename\">#{CGI.escapeHTML(ctx[:name].to_s)}</option>\n\n"
        elsif v.is_a?(Proc)
          v.call("<option value=\"filename\">#{CGI.escapeHTML(ctx[:name].to_s)}</option>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<option value=\"filename\">#{CGI.escapeHTML(ctx[:name].to_s)}</option>\n\n"; ctx.pop; r }.join
        end
      end
}"; ctx.pop; r }.join
        end
      end
}</select>\n       </fieldset>\n       <div class=\"buttons\">\n        <button class=\"create\" onclick=\"document.getElementById('create_account_form').submit(); return false;\">Create My New Account</button>\n       </div>\n      </form>\n     </div>\n      <div id=\"nav_bar\">\n       <div id=\"logo\">\n        <p class=\"english\">\n         <a href=\"/\">#{CGI.escapeHTML(ctx[:site_title].to_s)}</a>\n        </p>\n        <p class=\"divider site_tag_line\">\n~~ ? ! @ ~~        </p>\n       </div>\n       <ul class=\"help\">\n         <li>\n          <a href=\"/help/\"> Help </a>\n         </li>\n\n#{      if v = ctx[:logged_in?]
        if v == true
          "<li>\n          <a href=\"/log-out/\"> Log-out </a>\n         </li>\n         <li>\n          <a href=\"/lifes/\"> [ My Lifes ] </a>\n         </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>\n          <a href=\"/log-out/\"> Log-out </a>\n         </li>\n         <li>\n          <a href=\"/lifes/\"> [ My Lifes ] </a>\n         </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>\n          <a href=\"/log-out/\"> Log-out </a>\n         </li>\n         <li>\n          <a href=\"/lifes/\"> [ My Lifes ] </a>\n         </li>\n\n"; ctx.pop; r }.join
        end
      end
}#{      if v = ctx[:not_logged_in?]
        if v == true
          "<li>\n          <a href=\"/log-in/\"> Log-in </a>\n         </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>\n          <a href=\"/log-in/\"> Log-in </a>\n         </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>\n          <a href=\"/log-in/\"> Log-in </a>\n         </li>\n\n"; ctx.pop; r }.join
        end
      end
}</ul>\n\n#{      if v = ctx[:logged_in?]
        if v == true
          "#{      if v = ctx[:not_mini_nav_bar?]
        if v == true
          "<p class=\"divider\">Lives</p>\n\n"
        elsif v.is_a?(Proc)
          v.call("<p class=\"divider\">Lives</p>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<p class=\"divider\">Lives</p>\n\n"; ctx.pop; r }.join
        end
      end
}<ul class=\"lives\">\n\n#{      if v = ctx[:username_nav]
        if v == true
          "#{      if v = ctx[:selected?]
        if v == true
          "<li class=\"selected\">\n          <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n         </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li class=\"selected\">\n          <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n         </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li class=\"selected\">\n          <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n         </li>\n\n"; ctx.pop; r }.join
        end
      end
}#{      if v = ctx[:not_selected?]
        if v == true
          "<li>\n          <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n         </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>\n          <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n         </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>\n          <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n         </li>\n\n"; ctx.pop; r }.join
        end
      end
}"
        elsif v.is_a?(Proc)
          v.call("#{      if v = ctx[:selected?]
        if v == true
          "<li class=\"selected\">\n          <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n         </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li class=\"selected\">\n          <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n         </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li class=\"selected\">\n          <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n         </li>\n\n"; ctx.pop; r }.join
        end
      end
}#{      if v = ctx[:not_selected?]
        if v == true
          "<li>\n          <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n         </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>\n          <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n         </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>\n          <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n         </li>\n\n"; ctx.pop; r }.join
        end
      end
}")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "#{      if v = ctx[:selected?]
        if v == true
          "<li class=\"selected\">\n          <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n         </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li class=\"selected\">\n          <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n         </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li class=\"selected\">\n          <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n         </li>\n\n"; ctx.pop; r }.join
        end
      end
}#{      if v = ctx[:not_selected?]
        if v == true
          "<li>\n          <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n         </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>\n          <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n         </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>\n          <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n         </li>\n\n"; ctx.pop; r }.join
        end
      end
}"; ctx.pop; r }.join
        end
      end
}#{      if v = ctx[:not_mini_nav_bar?]
        if v == true
          "<li>\n          <a href=\"/create-life/\"> [ Create ] </a>\n         </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>\n          <a href=\"/create-life/\"> [ Create ] </a>\n         </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>\n          <a href=\"/create-life/\"> [ Create ] </a>\n         </li>\n\n"; ctx.pop; r }.join
        end
      end
}</ul>\n\n"
        elsif v.is_a?(Proc)
          v.call("#{      if v = ctx[:not_mini_nav_bar?]
        if v == true
          "<p class=\"divider\">Lives</p>\n\n"
        elsif v.is_a?(Proc)
          v.call("<p class=\"divider\">Lives</p>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<p class=\"divider\">Lives</p>\n\n"; ctx.pop; r }.join
        end
      end
}<ul class=\"lives\">\n\n#{      if v = ctx[:username_nav]
        if v == true
          "#{      if v = ctx[:selected?]
        if v == true
          "<li class=\"selected\">\n          <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n         </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li class=\"selected\">\n          <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n         </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li class=\"selected\">\n          <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n         </li>\n\n"; ctx.pop; r }.join
        end
      end
}#{      if v = ctx[:not_selected?]
        if v == true
          "<li>\n          <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n         </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>\n          <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n         </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>\n          <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n         </li>\n\n"; ctx.pop; r }.join
        end
      end
}"
        elsif v.is_a?(Proc)
          v.call("#{      if v = ctx[:selected?]
        if v == true
          "<li class=\"selected\">\n          <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n         </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li class=\"selected\">\n          <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n         </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li class=\"selected\">\n          <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n         </li>\n\n"; ctx.pop; r }.join
        end
      end
}#{      if v = ctx[:not_selected?]
        if v == true
          "<li>\n          <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n         </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>\n          <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n         </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>\n          <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n         </li>\n\n"; ctx.pop; r }.join
        end
      end
}")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "#{      if v = ctx[:selected?]
        if v == true
          "<li class=\"selected\">\n          <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n         </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li class=\"selected\">\n          <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n         </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li class=\"selected\">\n          <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n         </li>\n\n"; ctx.pop; r }.join
        end
      end
}#{      if v = ctx[:not_selected?]
        if v == true
          "<li>\n          <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n         </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>\n          <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n         </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>\n          <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n         </li>\n\n"; ctx.pop; r }.join
        end
      end
}"; ctx.pop; r }.join
        end
      end
}#{      if v = ctx[:not_mini_nav_bar?]
        if v == true
          "<li>\n          <a href=\"/create-life/\"> [ Create ] </a>\n         </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>\n          <a href=\"/create-life/\"> [ Create ] </a>\n         </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>\n          <a href=\"/create-life/\"> [ Create ] </a>\n         </li>\n\n"; ctx.pop; r }.join
        end
      end
}</ul>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "#{      if v = ctx[:not_mini_nav_bar?]
        if v == true
          "<p class=\"divider\">Lives</p>\n\n"
        elsif v.is_a?(Proc)
          v.call("<p class=\"divider\">Lives</p>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<p class=\"divider\">Lives</p>\n\n"; ctx.pop; r }.join
        end
      end
}<ul class=\"lives\">\n\n#{      if v = ctx[:username_nav]
        if v == true
          "#{      if v = ctx[:selected?]
        if v == true
          "<li class=\"selected\">\n          <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n         </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li class=\"selected\">\n          <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n         </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li class=\"selected\">\n          <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n         </li>\n\n"; ctx.pop; r }.join
        end
      end
}#{      if v = ctx[:not_selected?]
        if v == true
          "<li>\n          <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n         </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>\n          <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n         </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>\n          <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n         </li>\n\n"; ctx.pop; r }.join
        end
      end
}"
        elsif v.is_a?(Proc)
          v.call("#{      if v = ctx[:selected?]
        if v == true
          "<li class=\"selected\">\n          <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n         </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li class=\"selected\">\n          <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n         </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li class=\"selected\">\n          <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n         </li>\n\n"; ctx.pop; r }.join
        end
      end
}#{      if v = ctx[:not_selected?]
        if v == true
          "<li>\n          <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n         </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>\n          <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n         </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>\n          <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n         </li>\n\n"; ctx.pop; r }.join
        end
      end
}")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "#{      if v = ctx[:selected?]
        if v == true
          "<li class=\"selected\">\n          <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n         </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li class=\"selected\">\n          <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n         </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li class=\"selected\">\n          <span>&lt; #{CGI.escapeHTML(ctx[:username].to_s)} &gt;</span>\n         </li>\n\n"; ctx.pop; r }.join
        end
      end
}#{      if v = ctx[:not_selected?]
        if v == true
          "<li>\n          <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n         </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>\n          <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n         </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>\n          <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\"> #{CGI.escapeHTML(ctx[:username].to_s)} </a>\n         </li>\n\n"; ctx.pop; r }.join
        end
      end
}"; ctx.pop; r }.join
        end
      end
}#{      if v = ctx[:not_mini_nav_bar?]
        if v == true
          "<li>\n          <a href=\"/create-life/\"> [ Create ] </a>\n         </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>\n          <a href=\"/create-life/\"> [ Create ] </a>\n         </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>\n          <a href=\"/create-life/\"> [ Create ] </a>\n         </li>\n\n"; ctx.pop; r }.join
        end
      end
}</ul>\n\n"; ctx.pop; r }.join
        end
      end
}<p class=\"divider\">Clubs</p>\n       <ul class=\"clubs\">\n         <li>\n          <a href=\"/clubs/\"> [ View All ] </a>\n         </li>\n\n#{      if v = ctx[:logged_in?]
        if v == true
          ""
        elsif v.is_a?(Proc)
          v.call("")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = ""; ctx.pop; r }.join
        end
      end
}</ul>\n\n#{      if v = ctx[:logged_in?]
        if v == true
          "<p class=\"divider\">Your Clubs</p>\n       <ul class=\"your_clubs\">\n         <li>\n          <a href=\"/club-create/\"> [ Create ] </a>\n         </li>\n\n#{      if v = ctx[:your_clubs]
        if v == true
          "<li>\n         <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\">#{CGI.escapeHTML(ctx[:title].to_s)}</a>\n        </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>\n         <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\">#{CGI.escapeHTML(ctx[:title].to_s)}</a>\n        </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>\n         <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\">#{CGI.escapeHTML(ctx[:title].to_s)}</a>\n        </li>\n\n"; ctx.pop; r }.join
        end
      end
}</ul>\n\n"
        elsif v.is_a?(Proc)
          v.call("<p class=\"divider\">Your Clubs</p>\n       <ul class=\"your_clubs\">\n         <li>\n          <a href=\"/club-create/\"> [ Create ] </a>\n         </li>\n\n#{      if v = ctx[:your_clubs]
        if v == true
          "<li>\n         <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\">#{CGI.escapeHTML(ctx[:title].to_s)}</a>\n        </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>\n         <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\">#{CGI.escapeHTML(ctx[:title].to_s)}</a>\n        </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>\n         <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\">#{CGI.escapeHTML(ctx[:title].to_s)}</a>\n        </li>\n\n"; ctx.pop; r }.join
        end
      end
}</ul>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<p class=\"divider\">Your Clubs</p>\n       <ul class=\"your_clubs\">\n         <li>\n          <a href=\"/club-create/\"> [ Create ] </a>\n         </li>\n\n#{      if v = ctx[:your_clubs]
        if v == true
          "<li>\n         <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\">#{CGI.escapeHTML(ctx[:title].to_s)}</a>\n        </li>\n\n"
        elsif v.is_a?(Proc)
          v.call("<li>\n         <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\">#{CGI.escapeHTML(ctx[:title].to_s)}</a>\n        </li>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<li>\n         <a href=\"#{CGI.escapeHTML(ctx[:href].to_s)}\">#{CGI.escapeHTML(ctx[:title].to_s)}</a>\n        </li>\n\n"; ctx.pop; r }.join
        end
      end
}</ul>\n\n"; ctx.pop; r }.join
        end
      end
}#{      if v = ctx[:mini_nav_bar?]
        if v == true
          "<ul>\n        <li>\n          <li>\n           <a href=\"/clubs/\"> Clubs </a>\n          </li>\n        </li>\n       </ul>\n\n"
        elsif v.is_a?(Proc)
          v.call("<ul>\n        <li>\n          <li>\n           <a href=\"/clubs/\"> Clubs </a>\n          </li>\n        </li>\n       </ul>\n\n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<ul>\n        <li>\n          <li>\n           <a href=\"/clubs/\"> Clubs </a>\n          </li>\n        </li>\n       </ul>\n\n"; ctx.pop; r }.join
        end
      end
}</div>\n   </div>\n\n#{      if v = ctx[:include_tracking?]
        if v == true
          "<script type=\"text/javascript\"> var mp_protocol = (('https:' == document.location.protocol) ? 'https://' : 'http://'); document.write(unescape('%3Cscript src=\"' + mp_protocol + 'api.mixpanel.com/site_media/js/api/mixpanel.js\" type=\"text/javascript\"%3E%3C/script%3E')); </script> \n        <script type=\"text/javascript\"> try {  var mpmetrics = new MixpanelLib('86bbd0a09d702cd9eef7ba93d59dca93'); } catch(err) { null_fn = function () {}; var mpmetrics = {  track: null_fn,  track_funnel: null_fn,  register: null_fn,  register_once: null_fn, register_funnel: null_fn }; } </script>\n        <script type=\"text/javascript\">mpmetrics.track(\"eveything\", { 'referer' : '#{CGI.escapeHTML(ctx[:http_referer].to_s)}' });</script>\n      \n"
        elsif v.is_a?(Proc)
          v.call("<script type=\"text/javascript\"> var mp_protocol = (('https:' == document.location.protocol) ? 'https://' : 'http://'); document.write(unescape('%3Cscript src=\"' + mp_protocol + 'api.mixpanel.com/site_media/js/api/mixpanel.js\" type=\"text/javascript\"%3E%3C/script%3E')); </script> \n        <script type=\"text/javascript\"> try {  var mpmetrics = new MixpanelLib('86bbd0a09d702cd9eef7ba93d59dca93'); } catch(err) { null_fn = function () {}; var mpmetrics = {  track: null_fn,  track_funnel: null_fn,  register: null_fn,  register_once: null_fn, register_funnel: null_fn }; } </script>\n        <script type=\"text/javascript\">mpmetrics.track(\"eveything\", { 'referer' : '#{CGI.escapeHTML(ctx[:http_referer].to_s)}' });</script>\n      \n")
        else
          v = [v] unless v.is_a?(Array) # shortcut when passed non-array
          v.map { |h| ctx.push(h); r = "<script type=\"text/javascript\"> var mp_protocol = (('https:' == document.location.protocol) ? 'https://' : 'http://'); document.write(unescape('%3Cscript src=\"' + mp_protocol + 'api.mixpanel.com/site_media/js/api/mixpanel.js\" type=\"text/javascript\"%3E%3C/script%3E')); </script> \n        <script type=\"text/javascript\"> try {  var mpmetrics = new MixpanelLib('86bbd0a09d702cd9eef7ba93d59dca93'); } catch(err) { null_fn = function () {}; var mpmetrics = {  track: null_fn,  track_funnel: null_fn,  register: null_fn,  register_once: null_fn, register_funnel: null_fn }; } </script>\n        <script type=\"text/javascript\">mpmetrics.track(\"eveything\", { 'referer' : '#{CGI.escapeHTML(ctx[:http_referer].to_s)}' });</script>\n      \n"; ctx.pop; r }.join
        end
      end
}</body>\n </html>\n"