<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 <html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
   <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
   <meta content="text/javascript" http-equiv="Content-Script-Type"/>
   <meta content="text/css" http-equiv="Content-Style-Type"/>
   <meta content="en-US" http-equiv="Content-Language"/>
   <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
   <meta content="en-US" http-equiv="Content-Language"/>

{{^meta_cache?}}

   <meta content="Thu, 12 Mar 2004 12:34:12 GMT" http-equiv="expires"/>
   <meta content="no-cache" http-equiv="pragma"/>

{{/meta_cache?}}


{{#meta_menu}}

   <meta content="{{content}}" name="{{name}}"/>

{{/meta_menu}}


{{#page}}

   <title>{{title}}</title>

{{/page}}

   <link type="image/x-icon" rel="shortcut icon" href="/favicon.ico"/>

{{#not_mobile_request?}}

   <link type="text/css" rel="stylesheet" href="{{css_file}}?time=1281810970" media="screen"/>

{{/not_mobile_request?}}


{{head_content}}

  </head>
  <body id="the_body">

{{#flash_msg?}}

    <div id="flash_msg">

{{#flash_success}}

     <div class="success">
      <h4>Success</h4>
      <div class="msg">{{msg}}</div>
     </div>

{{/flash_success}}


{{#flash_errors}}

     <div class="errors">
      <h4>{{title}}</h4>
      <div class="msg">
       <ul>

{{#errors}}

        <li>{{err}}</li>

{{/errors}}

       </ul>
      </div>
     </div>

{{/flash_errors}}

    </div>

{{/flash_msg?}}

   <div id="the_content">

{{#show_moving_message?}}

     <div id="notice">
      <span>I'm moving content from my old site, </span>
      <a href="http://www.surferhearts.com/">SurferHearts.com</a>
      <span>, over to this new site.</span>
     </div>

{{/show_moving_message?}}

     <h3 id="club_title">{{club_title}}</h3>
      <ul id="club_nav_bar">
       <li>
        <a href="{{club_href}}">Home</a>
       </li>
       <li>
        <a href="{{club_href}}e/">Encyclopedia</a>
       </li>
       <li>
        <a href="{{club_href}}news/">News</a>
       </li>
       <li>
        <a href="{{club_href}}magazine/">Magazine</a>
       </li>
       <li>
        <a href="{{club_href}}fights/">Fights</a>
       </li>
       <li>
        <a href="{{club_href}}qa/">Q &amp; A</a>
       </li>
       <li>
        <a href="{{club_href}}shop/">Shop</a>
       </li>
       <li>
        <a href="{{club_href}}predictions/">Predictions</a>
       </li>
       <li>
        <a href="{{club_href}}random/">Random</a>
       </li>
       <li>
        <a href="{{club_href}}thanks/">Thanks</a>
       </li>

{{#logged_in?}}

       <li>
        <a href="/log-out/">Log-out</a>
       </li>

{{/logged_in?}}


{{#not_logged_in?}}

       <li>
        <a href="/log-in/">Log-in</a>
       </li>

{{/not_logged_in?}}

       <li>
        <a href="/">Megauni</a>
       </li>
      </ul>
     <h3 class="message_title">{{title}}</h3>
     <div id="outer_shell">
      <div id="inner_shell">
       <div class="centered">
        <div id="message">

{{#data}}

         <div class="body">
{{{compiled_body}}}         </div>

{{/data}}


{{#logged_in?}}

         <div id="notify_me">

{{^notify_me?}}

          <form class="hidden" action="{{href_notify}}" method="post" name="post_to_username_notify" id="post_to_username_notify">

{{#notify_menu}}

           <div class="radio">
            <input type="radio" value="{{username_id}}" name="radio_172_{{username_id}}" id="radio_172_{{username_id}}"/>
            <label for="radio_172_{{username_id}}">{{username}}</label>
           </div>

{{/notify_menu}}

           <div class="buttons">
            <div class="buttons">
             <button class="create">Notify me.</button>
            </div>
           </div>
          </form>
          <div>
            <a href="#show-post_to_username_notify" onclick="$('#post_to_username_notify').removeClass('hidden'); $(this).parent('div').remove(); return false;">Notify me </a>
            <span> of activity for this {{message_model_in_english}}.</span>
          </div>

{{/notify_me?}}


{{#notify_me?}}

          <form class="" action="{{href_notify}}" method="post" name="delete_form_notify" id="delete_form_notify">
            <fieldset class="hidden">
              <input type="hidden" value="delete" name="_method"/>
            </fieldset>
           <a href="#show-delete_form_notify" onclick="$('#delete_form_notify').removeClass('hidden'); $(this).parent('div').remove(); return false;">Stop</a>
           <span> notifying me.</span>
          </form>

{{/notify_me?}}

         </div>

{{^reposts?}}

         <div id="repost">
          <form class="hidden" action="{{href_repost}}" method="post" name="post_to_universes_repost" id="post_to_universes_repost">

{{#repost_menu}}

           <h4>{{username}}</h4>

{{#clubs}}


{{#selected?}}

            <div class="box selected">
             <input type="checkbox" value="{{_id}}" checked="checked" name="clubs[]" id="selected_checkbox_288_{{_id}}"/>
             <label for="selected_checkbox_288_{{_id}}">{{title}}</label>
            </div>

{{/selected?}}


{{^selected?}}

            <div class="box">
             <input type="checkbox" value="{{_id}}" name="clubs[]" id="checkbox_486_{{_id}}"/>
             <label for="checkbox_486_{{_id}}">{{title}}</label>
            </div>

{{/selected?}}


{{/clubs}}


{{/repost_menu}}

           <div class="buttons">
            <div class="buttons">
             <button class="create">Re-post.</button>
            </div>
           </div>
          </form>
          <div>
            <a href="#show-post_to_universes_repost" onclick="$('#post_to_universes_repost').removeClass('hidden'); $(this).parent('div').remove(); return false;">Re-post.</a>
          </div>
         </div>

{{/reposts?}}


{{/logged_in?}}

         <div id="about">
          <h4>About this content:</h4>
          <div>
           <strong>Published on:</strong>
           <br/>
           <span>{{published_at}}</span>
          </div>
          <div>
           <strong>Type:</strong>
           <br/>
           <span>{{message_model_in_english}}.</span>
          </div>
          <div>
           <strong>Publication:</strong>
           <br/>
           <a href="{{href_club}}">{{club_title}}</a>
          </div>
          <div>
           <strong>Section: </strong>
           <br/>
           <a href="{{href_section}}">{{message_section}}</a>
          </div>

{{#has_parent?}}

          <div>
           <strong>A reply to:</strong>
           <br/>
           <a href="{{href_parent}}">this message</a>
          </div>

{{/has_parent?}}


{{#updator?}}

          <div>
           <strong>Actions:</strong>
           <br/>
           <a href="{{href_edit}}">Edit.</a>

{{#updated?}}

           <br/>
           <a href="{{href_log}}">View changes.</a>

{{/updated?}}

          </div>

{{/updator?}}

         </div>
         <div id="replies">
          <div id="responds">

{{#suggests?}}

           <div id="suggests">
            <h4>{{suggestions_or_answers}}</h4>

{{#suggests}}

             <div class="message">

{{#suggest?}}


{{#accepted?}}

              <div class="accepted">
               <span>Accepted</span>
              </div>

{{/accepted?}}


{{#pending?}}

              <div class="pending">
               <span>Pending</span>
              </div>

{{/pending?}}


{{#declined?}}

              <div class="declined">
               <span>Declined</span>
              </div>

{{/declined?}}


{{/suggest?}}


{{#title}}

              <strong class="title">{{title}}</strong>

{{/title}}

              <div class="body">{{{compiled_body}}}</div>
              <div class="owner">
               <span>Author: </span>

{{#owner?}}

               <span>you</span>

{{/owner?}}


{{#not_owner?}}

               <a href="{{owner_href}}">{{owner_username}}</a>

{{/not_owner?}}

              </div>

{{#has_parent_message?}}


{{#suggest?}}


{{#parent_message_owner?}}

              <div class="toggle_suggest">
               <div>

{{#not_accepted?}}

                <a href="#toggle_form_message_accept" onclick="
          $(this).parent('div').addClass('loading');
          $('#toggle_form_message_accept input[name=owner_accept]').val(1);
          $('#toggle_form_message_accept').submit();
          return false;
        ">Accept</a>

{{/not_accepted?}}


{{#pending?}}

                <span> or </span>

{{/pending?}}


{{#not_declined?}}

                <a href="#toggle_form_message_accept" onclick="
          $(this).parent('div').addClass('loading');
          $('#toggle_form_message_accept input[name=owner_accept]').val(-1);
          $('#toggle_form_message_accept').submit();
          return false;
        ">Decline</a>

{{/not_declined?}}


{{#not_pending?}}

                <span> or </span>
                <a href="#toggle_form_message_accept" onclick="
          $(this).parent('div').addClass('loading');
          $('#toggle_form_message_accept input[name=owner_accept]').val(0);
          $('#toggle_form_message_accept').submit();
          return false;
        ">I don't know.</a>

{{/not_pending?}}

               </div>
              </div>

{{/parent_message_owner?}}


{{/suggest?}}


{{/has_parent_message?}}


{{#has_parent_message?}}

              <div class="permalink">
               <a href="{{href}}">reply</a>
              </div>

{{/has_parent_message?}}


{{#parent_message?}}

              <div class="permalink">

{{#logged_in?}}

               <a href="{{href}}">Reply</a>
               <span> to this </span>
               <strong> {{message_model_in_english}} </strong>

{{/logged_in?}}


{{#not_logged_in?}}

               <a href="{{href}}">link to this {{message_model_in_english}}</a>

{{/not_logged_in?}}

              </div>

{{/parent_message?}}

             </div>

{{/suggests}}

           </div>

{{/suggests?}}


{{#critiques?}}

           <div id="critiques">
            <h4>Praise &amp; Criticism:</h4>

{{#critiques}}

             <div class="message">

{{#suggest?}}


{{#accepted?}}

              <div class="accepted">
               <span>Accepted</span>
              </div>

{{/accepted?}}


{{#pending?}}

              <div class="pending">
               <span>Pending</span>
              </div>

{{/pending?}}


{{#declined?}}

              <div class="declined">
               <span>Declined</span>
              </div>

{{/declined?}}


{{/suggest?}}


{{#title}}

              <strong class="title">{{title}}</strong>

{{/title}}

              <div class="body">{{{compiled_body}}}</div>
              <div class="owner">
               <span>Author: </span>

{{#owner?}}

               <span>you</span>

{{/owner?}}


{{#not_owner?}}

               <a href="{{owner_href}}">{{owner_username}}</a>

{{/not_owner?}}

              </div>

{{#has_parent_message?}}


{{#suggest?}}


{{#parent_message_owner?}}

              <div class="toggle_suggest">
               <div>

{{#not_accepted?}}

                <a href="#toggle_form_message_accept" onclick="
          $(this).parent('div').addClass('loading');
          $('#toggle_form_message_accept input[name=owner_accept]').val(1);
          $('#toggle_form_message_accept').submit();
          return false;
        ">Accept</a>

{{/not_accepted?}}


{{#pending?}}

                <span> or </span>

{{/pending?}}


{{#not_declined?}}

                <a href="#toggle_form_message_accept" onclick="
          $(this).parent('div').addClass('loading');
          $('#toggle_form_message_accept input[name=owner_accept]').val(-1);
          $('#toggle_form_message_accept').submit();
          return false;
        ">Decline</a>

{{/not_declined?}}


{{#not_pending?}}

                <span> or </span>
                <a href="#toggle_form_message_accept" onclick="
          $(this).parent('div').addClass('loading');
          $('#toggle_form_message_accept input[name=owner_accept]').val(0);
          $('#toggle_form_message_accept').submit();
          return false;
        ">I don't know.</a>

{{/not_pending?}}

               </div>
              </div>

{{/parent_message_owner?}}


{{/suggest?}}


{{/has_parent_message?}}


{{#has_parent_message?}}

              <div class="permalink">
               <a href="{{href}}">reply</a>
              </div>

{{/has_parent_message?}}


{{#parent_message?}}

              <div class="permalink">

{{#logged_in?}}

               <a href="{{href}}">Reply</a>
               <span> to this </span>
               <strong> {{message_model_in_english}} </strong>

{{/logged_in?}}


{{#not_logged_in?}}

               <a href="{{href}}">link to this {{message_model_in_english}}</a>

{{/not_logged_in?}}

              </div>

{{/parent_message?}}

             </div>

{{/critiques}}

           </div>

{{/critiques?}}


{{#questions?}}

           <div id="questions">
            <h4>Questions:</h4>

{{#questions}}

             <div class="message">

{{#suggest?}}


{{#accepted?}}

              <div class="accepted">
               <span>Accepted</span>
              </div>

{{/accepted?}}


{{#pending?}}

              <div class="pending">
               <span>Pending</span>
              </div>

{{/pending?}}


{{#declined?}}

              <div class="declined">
               <span>Declined</span>
              </div>

{{/declined?}}


{{/suggest?}}


{{#title}}

              <strong class="title">{{title}}</strong>

{{/title}}

              <div class="body">{{{compiled_body}}}</div>
              <div class="owner">
               <span>Author: </span>

{{#owner?}}

               <span>you</span>

{{/owner?}}


{{#not_owner?}}

               <a href="{{owner_href}}">{{owner_username}}</a>

{{/not_owner?}}

              </div>

{{#has_parent_message?}}


{{#suggest?}}


{{#parent_message_owner?}}

              <div class="toggle_suggest">
               <div>

{{#not_accepted?}}

                <a href="#toggle_form_message_accept" onclick="
          $(this).parent('div').addClass('loading');
          $('#toggle_form_message_accept input[name=owner_accept]').val(1);
          $('#toggle_form_message_accept').submit();
          return false;
        ">Accept</a>

{{/not_accepted?}}


{{#pending?}}

                <span> or </span>

{{/pending?}}


{{#not_declined?}}

                <a href="#toggle_form_message_accept" onclick="
          $(this).parent('div').addClass('loading');
          $('#toggle_form_message_accept input[name=owner_accept]').val(-1);
          $('#toggle_form_message_accept').submit();
          return false;
        ">Decline</a>

{{/not_declined?}}


{{#not_pending?}}

                <span> or </span>
                <a href="#toggle_form_message_accept" onclick="
          $(this).parent('div').addClass('loading');
          $('#toggle_form_message_accept input[name=owner_accept]').val(0);
          $('#toggle_form_message_accept').submit();
          return false;
        ">I don't know.</a>

{{/not_pending?}}

               </div>
              </div>

{{/parent_message_owner?}}


{{/suggest?}}


{{/has_parent_message?}}


{{#has_parent_message?}}

              <div class="permalink">
               <a href="{{href}}">reply</a>
              </div>

{{/has_parent_message?}}


{{#parent_message?}}

              <div class="permalink">

{{#logged_in?}}

               <a href="{{href}}">Reply</a>
               <span> to this </span>
               <strong> {{message_model_in_english}} </strong>

{{/logged_in?}}


{{#not_logged_in?}}

               <a href="{{href}}">link to this {{message_model_in_english}}</a>

{{/not_logged_in?}}

              </div>

{{/parent_message?}}

             </div>

{{/questions}}

           </div>

{{/questions?}}

          </div>

{{#logged_in?}}

          <div id="reply">
           <div id="guide">
            <h4>Stuff you can do:</h4>
            <p>
                Express negative feelings. Try to use
              polite profanity, like meathead instead of 
              doo-doo head.
              </p>
           </div>
            <div id="club_message_create">
             <form class="" action="/messages/" method="post" name="form_club_message_create" id="form_club_message_create">
              <h4>Publish a new:</h4>
              <fieldset>
               <select name="message_model">
                <option value="question">Question</option>
                <option value="cheer">Praise &amp; Cheer</option>
                <option value="jeer">Criticize</option>
                <option value="suggest">Suggestion</option>
               </select>
              </fieldset>
              <fieldset class="hidden">
               <input type="hidden" value="" name="body_images_cache"/>
               <input type="hidden" value="{{url}}" name="return_url"/>
               <input type="hidden" value="public" name="privacy"/>
               <input type="hidden" value="{{_id}}" name="parent_message_id"/>

{{#single_username?}}

               <input type="hidden" value="{{first_username}}" name="username"/>

{{/single_username?}}

              </fieldset>
              <fieldset>
               <textarea name="body"></textarea>
              </fieldset>

{{#multiple_usernames?}}

              <fieldset>
               <label>Post as:</label>
               <select name="owner_id">

{{#multiple_usernames}}

                <option value="{{username}}">{{username}}</option>

{{/multiple_usernames}}

               </select>
              </fieldset>

{{/multiple_usernames?}}

              <div class="buttons">
               <button class="create">Save</button>
              </div>
             </form>
            </div>
          </div>

{{/logged_in?}}

         </div>
        </div>
       </div>
      </div>
     </div>

{{#logged_in?}}

      <form class="" action="{{href}}" method="post" name="toggle_form_message_accept" id="toggle_form_message_accept">
        <fieldset class="hidden">
          <input type="hidden" value="put" name="_method"/>
         <input type="hidden" value="0" name="owner_accept"/>
         <input type="hidden" value="{{editor_id}}" name="editor_id"/>
        </fieldset>
      </form>

{{/logged_in?}}

   </div>
   <script type="text/javascript" src="/js/vendor/jquery-1.4.2.min.js?1281810970"></script>
   <script type="text/javascript" src="/js/pages/Megauni_Base.js?1281810970"></script>

{{#include_tracking?}}


        <script type="text/javascript"> var mp_protocol = (('https:' == document.location.protocol) ? 'https://' : 'http://'); document.write(unescape('%3Cscript src="' + mp_protocol + 'api.mixpanel.com/site_media/js/api/mixpanel.js" type="text/javascript"%3E%3C/script%3E')); </script> 
        <script type="text/javascript"> try {  var mpmetrics = new MixpanelLib('86bbd0a09d702cd9eef7ba93d59dca93'); } catch(err) { null_fn = function () {}; var mpmetrics = {  track: null_fn,  track_funnel: null_fn,  register: null_fn,  register_once: null_fn, register_funnel: null_fn }; } </script>
        <script type="text/javascript">mpmetrics.track("eveything", { 'referer' : '{{http_referer}}' });</script>
      
{{/include_tracking?}}

  </body>
 </html>
