<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
   <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
   <meta http-equiv="Content-Script-Type" content="text/javascript"/>
   <meta http-equiv="Content-Style-Type" content="text/css"/>
   <meta http-equiv="Content-Language" content="en-US"/>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
   <meta http-equiv="Content-Language" content="en-US"/>

{{#no_meta_cache}}

   <meta http-equiv="expires" content="Thu, 12 Mar 2004 12:34:12 GMT"/>
   <meta http-equiv="pragma" content="no-cache"/>

{{/no_meta_cache}}

   <meta content="{{meta_description}}" name="description"/>
   <meta content="{{meta_keywords}}" name="keywords"/>
   <title>{{title}}</title>
   <link type="image/x-icon" href="/favicon.ico" rel="shortcut icon"/>

{{#not_mobile_request?}}

   <link type="text/css" href="{{css_file}}?time=1271880394" media="screen" rel="stylesheet"/>

{{/not_mobile_request?}}


{{head_content}}

  </head>
  <body id="the_body">
   <div id="container">
    <div id="timestamp">{{js_epoch_time}}</div>

{{#loading}}

    <div id="loading">Loading...</div>

{{/loading}}

     <div id="content">
      <p>The following products can be used also for: Ostero-porosis, Heart (corazon), Menopause, Cancer, Flu, Fibromyalgia, Sleep (sueno), PMS, Hormonal Imbalances</p>
      <ul class="faq">
       <li>
        <div class="question">Vitamin D3 + Magnesium Citrate</div>
        <div class="answer">
         <p>LifeSpanNutrition.com &#8211; (800) 247-5731 (correo postal)</p>
         <p>$15 - "30 Minutes of Sunshine"</p>
        </div>
       </li>
       <li>
        <div class="question">Barlean's Forti-Flax (Flaxseed meal)</div>
        <div class="answer">
         <p>LuckyVitamin.com - 888-635-0474</p>
         <p>$6 &#8211; Barlean's Forti-Flax (linaza/flaxseed meal in powder form.) or Brevail ($14, pills)</p>
         <p>Also sold at: Vitamin Shoppe, Lifespan Nutrition</p>
        </div>
       </li>
       <li>
        <div class="question">Purity Products Bone Density Formula</div>
        <div class="answer">$18 at LifeSpanNutrition.com</div>
       </li>
      </ul>
     </div>
      <div id="nav_bar">
       <div id="logo">
        <p class="english">
         <a href="/">{{site_title}}</a>
        </p>
        <p class="divider site_tag_line">
{{site_tag_line}}        </p>
       </div>
       <ul class="help">
         <li>
          <a href="/help/"> Help </a>
         </li>

{{#logged_in?}}

         <li>
          <a href="/log-out/"> Log-out </a>
         </li>
         <li>
          <a href="/today/"> [ Today ] </a>
         </li>
         <li>
          <a href="/account/"> [ Account ] </a>
         </li>

{{/logged_in?}}


{{#not_logged_in?}}

         <li>
          <a href="/log-in/"> Log-in </a>
         </li>

{{/not_logged_in?}}

       </ul>

{{#logged_in?}}


{{#no_mini_nav_bar?}}

       <p class="divider">Lives</p>

{{/no_mini_nav_bar?}}

       <ul class="lives">

{{#username_nav}}


{{#selected}}

         <li class="selected">
          <span>&lt; {{username}} &gt;</span>
         </li>

{{/selected}}


{{#not_selected}}

         <li>
          <a href="{{href}}"> {{username}} </a>
         </li>

{{/not_selected}}


{{/username_nav}}


{{#no_mini_nav_bar?}}

         <li>
          <a href="/create-life/"> [ Create ] </a>
         </li>

{{/no_mini_nav_bar?}}

       </ul>

{{/logged_in?}}


{{#no_mini_nav_bar?}}

       <p class="divider">Clubs</p>
       <ul class="news">
         <li>
          <a href="/clubs/"> [ View All ] </a>
         </li>

{{#logged_in?}}

         <li>
          <a href="/clubs/create/"> [ Create ] </a>
         </li>

{{/logged_in?}}

       </ul>

{{/no_mini_nav_bar?}}


{{#mini_nav_bar?}}

       <ul>
        <li>
          <li>
           <a href="/clubs/"> Clubs </a>
          </li>
        </li>
       </ul>

{{/mini_nav_bar?}}

      </div>
    <div id="footer">
     <span>(c) {{copyright_year}} {{site_domain}}. Some rights reserved.</span>
    </div>

{{#javascripts}}

    <script type="text/javascript" src="{{src}}?{{time_i}}"></script>

{{/javascripts}}


{{#include_tracking?}}


          <script type="text/javascript"> var mp_protocol = (('https:' == document.location.protocol) ? 'https://' : 'http://'); document.write(unescape('%3Cscript src="' + mp_protocol + 'api.mixpanel.com/site_media/js/api/mixpanel.js" type="text/javascript"%3E%3C/script%3E')); </script> 
          <script type="text/javascript"> try {  var mpmetrics = new MixpanelLib('86bbd0a09d702cd9eef7ba93d59dca93'); } catch(err) { null_fn = function () {}; var mpmetrics = {  track: null_fn,  track_funnel: null_fn,  register: null_fn,  register_once: null_fn, register_funnel: null_fn }; } </script>
          <script type="text/javascript">mpmetrics.track("eveything");</script>
        
{{/include_tracking?}}

   </div>
  </body>
 </html>
