<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
   <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
   <meta content="text/javascript" http-equiv="Content-Script-Type"/>
   <meta content="text/css" http-equiv="Content-Style-Type"/>
   <meta content="en-US" http-equiv="Content-Language"/>
   <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
   <meta content="en-US" http-equiv="Content-Language"/>

{{#no_meta_cache}}

   <meta content="Thu, 12 Mar 2004 12:34:12 GMT" http-equiv="expires"/>
   <meta content="no-cache" http-equiv="pragma"/>

{{/no_meta_cache}}

   <meta content="{{meta_description}}" name="description"/>
   <meta content="{{meta_keywords}}" name="keywords"/>
   <title>{{title}}</title>
   <link type="image/x-icon" rel="shortcut icon" href="/favicon.ico"/>

{{#not_mobile_request?}}

   <link type="text/css" rel="stylesheet" href="{{css_file}}?time=1276534047" media="screen"/>

{{/not_mobile_request?}}


{{head_content}}

  </head>
  <body id="the_body">

{{#flash_msg?}}

    <div id="flash_msg">

{{#flash_success}}

     <div class="success">
      <h4>Success</h4>
      <div class="msg">{{msg}}</div>
     </div>

{{/flash_success}}


{{#flash_errors}}

     <div class="errors">
      <h4>{{title}}</h4>
      <div class="msg">
       <ul>

{{#errors}}

        <li>{{err}}</li>

{{/errors}}

       </ul>
      </div>
     </div>

{{/flash_errors}}

    </div>

{{/flash_msg?}}

   <div id="the_content">
     <div id="content">
      <ul class="faq">
       <li>
        <div class="question">Printer: Brother DCP-585CW</div>
        <div class="answer">
         <p>Includes scanner.</p>
         <p>
          <span>Read reviews: </span>
          <a href="http://www.newegg.com/Product/Product.aspx?Item=N82E16828113342&amp;Tpk=Brother%20DCP-585CW">http://www.newegg.com/Product/Product.aspx?Item=N82E16828113342&amp;Tpk=Brother%20DCP-585CW</a>
         </p>
        </div>
       </li>
       <li>
        <div class="question">Inspiron 15 or Inspiron 17</div>
        <div class="answer">
         <p>
          <a href="http://www.dell.com/home/laptops">http://www.dell.com/home/laptops</a>
         </p>
         <p>Upgrade memory to: 4 GB</p>
         <p>Upgrade battery to: 9-cell lithium battery</p>
         <p>For Inspiron 15, upgrade HD display to: 15.6" High Definition+ (1600x900) LED Display with TrueLife</p>
        </div>
       </li>
      </ul>
     </div>
      <div id="nav_bar">
       <div id="logo">
        <p class="english">
         <a href="/">{{site_title}}</a>
        </p>
        <p class="divider site_tag_line">
{{site_tag_line}}        </p>
       </div>
       <ul class="help">
         <li>
          <a href="/help/"> Help </a>
         </li>

{{#logged_in?}}

         <li>
          <a href="/log-out/"> Log-out </a>
         </li>
         <li>
          <a href="/today/"> [ Today ] </a>
         </li>
         <li>
          <a href="/account/"> [ Account ] </a>
         </li>

{{/logged_in?}}


{{#not_logged_in?}}

         <li>
          <a href="/log-in/"> Log-in </a>
         </li>

{{/not_logged_in?}}

       </ul>

{{#logged_in?}}


{{#not_mini_nav_bar?}}

       <p class="divider">Lives</p>

{{/not_mini_nav_bar?}}

       <ul class="lives">

{{#username_nav}}


{{#selected}}

         <li class="selected">
          <span>&lt; {{username}} &gt;</span>
         </li>

{{/selected}}


{{#not_selected}}

         <li>
          <a href="{{href}}"> {{username}} </a>
         </li>

{{/not_selected}}


{{/username_nav}}


{{#not_mini_nav_bar?}}

         <li>
          <a href="/create-life/"> [ Create ] </a>
         </li>

{{/not_mini_nav_bar?}}

       </ul>

{{/logged_in?}}

       <p class="divider">Clubs</p>
       <ul class="clubs">
         <li>
          <a href="/clubs/"> [ View All ] </a>
         </li>

{{#logged_in?}}

         <li>
          <a href="/club-create/"> [ Create ] </a>
         </li>

{{/logged_in?}}

       </ul>

{{#your_clubs?}}

       <p class="divider">Your Clubs</p>
       <ul class="your_clubs">

{{#your_clubs}}

        <li>
         <a href="{{href}}">{{title}}</a>
        </li>

{{/your_clubs}}

       </ul>

{{/your_clubs?}}


{{#mini_nav_bar?}}

       <ul>
        <li>
          <li>
           <a href="/clubs/"> Clubs </a>
          </li>
        </li>
       </ul>

{{/mini_nav_bar?}}

      </div>
   </div>

{{#javascripts}}

   <script type="text/javascript" src="{{src}}?{{time_i}}"></script>

{{/javascripts}}


{{#include_tracking?}}


        <script type="text/javascript"> var mp_protocol = (('https:' == document.location.protocol) ? 'https://' : 'http://'); document.write(unescape('%3Cscript src="' + mp_protocol + 'api.mixpanel.com/site_media/js/api/mixpanel.js" type="text/javascript"%3E%3C/script%3E')); </script> 
        <script type="text/javascript"> try {  var mpmetrics = new MixpanelLib('86bbd0a09d702cd9eef7ba93d59dca93'); } catch(err) { null_fn = function () {}; var mpmetrics = {  track: null_fn,  track_funnel: null_fn,  register: null_fn,  register_once: null_fn, register_funnel: null_fn }; } </script>
        <script type="text/javascript">mpmetrics.track("eveything", { 'referer' : '{{http_referer}}' });</script>
      
{{/include_tracking?}}

  </body>
 </html>
