<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
   <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
   <meta content="text/javascript" http-equiv="Content-Script-Type"/>
   <meta content="text/css" http-equiv="Content-Style-Type"/>
   <meta content="en-US" http-equiv="Content-Language"/>
   <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
   <meta content="en-US" http-equiv="Content-Language"/>

{{#no_meta_cache?}}

   <meta content="Thu, 12 Mar 2004 12:34:12 GMT" http-equiv="expires"/>
   <meta content="no-cache" http-equiv="pragma"/>

{{/no_meta_cache?}}

   <meta content="{{meta_description}}" name="description"/>
   <meta content="{{meta_keywords}}" name="keywords"/>
   <title>{{title}}</title>
   <link href="/favicon.ico" type="image/x-icon" rel="shortcut icon"/>

{{#not_mobile_request?}}

   <link href="{{css_file}}?time=1278857973" type="text/css" rel="stylesheet" media="screen"/>

{{/not_mobile_request?}}


{{head_content}}

  </head>
  <body id="the_body">

{{#flash_msg?}}

    <div id="flash_msg">

{{#flash_success}}

     <div class="success">
      <h4>Success</h4>
      <div class="msg">{{msg}}</div>
     </div>

{{/flash_success}}


{{#flash_errors}}

     <div class="errors">
      <h4>{{title}}</h4>
      <div class="msg">
       <ul>

{{#errors}}

        <li>{{err}}</li>

{{/errors}}

       </ul>
      </div>
     </div>

{{/flash_errors}}

    </div>

{{/flash_msg?}}

   <div id="the_content">
     <div id="content">
      <p>
       <span>If you are looking for back pain supplements, check the </span>
       <a href="/back-pain/">"Back Pain" section.</a>
      </p>
      <ul class="faq">
       <li>
        <div class="question"> Rhumatoid Arthritis (dolor de articulaciones en las manos), 
        Cancer, Heart (corazon), energy
      </div>
        <div class="answer">
         <p>Omega-3 fish oil (aceite de pescado) 1000 mg 3-4 times a day. </p>
         <p>Take it with food or else you might get very nauseous. </p>
         <p>Don't take ASPIRIN, ibuprofen, Tylanol, Advil, etc., or your blood will become too watery.</p>
         <ul class="products">
          <li>
           <p class="title">Super Omega-3 Carlson Laboratories &#8211; 130 (capsules/pastillas) &#8211; (2 bottles)</p>
           <p>
            <span>$13 - </span>
            <a href="http://www.luckyvitamin.com/">LuckyVitamin.com</a>
            <span>&#8211; 888-635-0474 &#8211; UPS or USPS (correo postal)</span>
           </p>
           <p>(or buy the store brand in your local big-chain pharmacy like Eckerd's, Rite Aid, CVS, etc.)</p>
          </li>
         </ul>
        </div>
       </li>
       <li>
        <div class="question">OSTERO-ARTHRITIS (dolor de rodilla)</div>
        <div class="answer">
         <p>
          <span>For full info., buy this e-book: </span>
          <a href="http://www.naturalhealthlibrarian.com/ebook.asp?page=Hyaluronic%20Acid">Hyaluronic Acid by Bill Sardi.</a>
         </p>
         <p> 50 mg &#8211; 100 mg hyaluronic acid.</p>
         <p> Much more effective than glucosamine and chondroitin. </p>
         <p> For best results, drink water 3 or more times a day. Also helps for skin and eyes. </p>
         <p>Don't take with blood thinners like aspirin, Advil, Tylenol, NSAIDs, etc. </p>
         <p>Most of the pain should go away in 2 weeks.</p>
         <ul class="products">
          <li>
           <p class="title">Source Naturals Hyaluronic Joint Complex </p>
           <p>This is the most effective.</p>
           <p>$30 &#8211; 120 tablets - Amazon.com &#8211; Free Shipping </p>
           <p>$15 &#8211; 60 tablets - LuckyVitamin.com &#8211; 888-635-0474 &#8211; UPS or USPS (correo postal) </p>
          </li>
          <li>
           <p class="title">Source Naturals Skin Eternal Hyaluronic Acid</p>
           <p>Vitamin Shoppe or GNC - $10 &#8211; 60 tablets.</p>
           <p>Buy this one if you are in a hurry. This is the second best.</p>
          </li>
         </ul>
        </div>
       </li>
      </ul>
     </div>
      <div id="nav_bar">
       <div id="logo">
        <p class="english">
         <a href="/">{{site_title}}</a>
        </p>
        <p class="divider site_tag_line">
~~ ? ! @ ~~        </p>
       </div>
       <ul class="help">
         <li>
          <a href="/help/"> Help </a>
         </li>

{{#logged_in?}}

         <li>
          <a href="/log-out/"> Log-out </a>
         </li>
         <li>
          <a href="/account/"> [ Account ] </a>
         </li>

{{/logged_in?}}


{{#not_logged_in?}}

         <li>
          <a href="/log-in/"> Log-in </a>
         </li>

{{/not_logged_in?}}

       </ul>

{{#logged_in?}}


{{#not_mini_nav_bar?}}

       <p class="divider">Lives</p>

{{/not_mini_nav_bar?}}

       <ul class="lives">

{{#username_nav}}


{{#selected?}}

         <li class="selected">
          <span>&lt; {{username}} &gt;</span>
         </li>

{{/selected?}}


{{#not_selected?}}

         <li>
          <a href="{{href}}"> {{username}} </a>
         </li>

{{/not_selected?}}


{{/username_nav}}


{{#not_mini_nav_bar?}}

         <li>
          <a href="/create-life/"> [ Create ] </a>
         </li>

{{/not_mini_nav_bar?}}

       </ul>

{{/logged_in?}}

       <p class="divider">Clubs</p>
       <ul class="clubs">
         <li>
          <a href="/clubs/"> [ View All ] </a>
         </li>

{{#logged_in?}}


{{/logged_in?}}

       </ul>

{{#logged_in?}}

       <p class="divider">Your Clubs</p>
       <ul class="your_clubs">
         <li>
          <a href="/club-create/"> [ Create ] </a>
         </li>

{{#your_clubs}}

        <li>
         <a href="{{href}}">{{title}}</a>
        </li>

{{/your_clubs}}

       </ul>

{{/logged_in?}}


{{#mini_nav_bar?}}

       <ul>
        <li>
          <li>
           <a href="/clubs/"> Clubs </a>
          </li>
        </li>
       </ul>

{{/mini_nav_bar?}}

      </div>
   </div>

{{#include_tracking?}}


        <script type="text/javascript"> var mp_protocol = (('https:' == document.location.protocol) ? 'https://' : 'http://'); document.write(unescape('%3Cscript src="' + mp_protocol + 'api.mixpanel.com/site_media/js/api/mixpanel.js" type="text/javascript"%3E%3C/script%3E')); </script> 
        <script type="text/javascript"> try {  var mpmetrics = new MixpanelLib('86bbd0a09d702cd9eef7ba93d59dca93'); } catch(err) { null_fn = function () {}; var mpmetrics = {  track: null_fn,  track_funnel: null_fn,  register: null_fn,  register_once: null_fn, register_funnel: null_fn }; } </script>
        <script type="text/javascript">mpmetrics.track("eveything", { 'referer' : '{{http_referer}}' });</script>
      
{{/include_tracking?}}

  </body>
 </html>
