@import layout.sass


div.template
  display: none

div.editor
  display: none
  
#instructions
  ol
    list-style-type: decimal
    margin: 0 0 0 40px
    li
      line-height: 1em
      font-size: 120%    
      padding: 0 0 20px 0
