@import compass/utilities/lists/horizontal_list.sass
@import blueprint/_reset.sass
@import 960/grid.sass


!red = #F00919
!blue = #33CCFF
!grey = #666666
!pink = #FF477C
!highlight = #ff9

!dark_blue = #214D81
!light_green = #E0FF92
!dark_green = #133B00
!light_grey = #EFEFEF
!dark_grey = #333333


!bg_color = #fff

!text_box_border = #BEBEBE
!text_box_border_green = #38761B
!text_box_bg = #EAEAF0
!text_box_bg_dark = #D6D6D6

!custom_sans_serif = "'Helvetica Neue','HelveticaNeue',Helvetica,'bitstream vera sans',Arial,'segoe',sans-serif"
!custom_serif = "'Century Schoolbook L', 'Times New Roman', 'Times', serif"
!custom_black_text = #242424
!custom_orange = #FFE759

!light_green = #DAE6B4


!ninesixty_columns = 16

!nav_bar_border = 2px
!nav_bar_width = 220px


=dev_bg
  #the_body
    background: #fff url("/16_col.gif") repeat-y center center
  #container
    border-top= 2px "solid" #000
  #content
    border-top: 1px solid red
    
=input_text
  font-size: 20px
  font-weight: bold
  font-family: helvetica, arial, sans-serif

=single_form
  #container
    +grid-width(10)
  #nav_bar
    padding: 0 0 200px
  #content
    +grid-width(5)
  form
    padding: 0
    fieldset
      input.text
        width: 240px
      textarea
        width: 240px
        height: 300px

  
a:link, a:visited
  color = !red
  text-transform: uppercase
  font:
    family = "'Helvetica Neue','HelveticaNeue',Helvetica,'bitstream vera sans',Arial,'segoe',sans-serif"
    weight: bold

a:hover, a:active, a:focus
  color: #fff
  background: #E40051

img.left
  float: left
  margin: 0 10px 0 0
img.right
  float: right
  margin: 0 0 10px 0

#timestamp
  display: none



#the_body
  :font= "13px/1.5" "Helvetica, 'Liberation Sans', FreeSans, serif"
  
#container
  +grid-container
  +clearfix
  padding-top: 20px
  
#flash_msg
  padding: 5px
  h4 
    text-transform: uppercase
    font-weight: bold
  div.msg
    font-size: 14px
  &.error_msg
    font-weight: bold
    background= !red
    color: #fff
  &.success_msg
    background= !highlight
    h4
      color= !dark_blue
    div.msg
      color= !dark_green

=bottom_nav_bar
  #nav_bar
    +grid(16)
    ul
      text-align: left
      li
        span, a
          padding: 5px 5px 5px 15px

=left_nav_bar
  #nav_bar
    margin-right= ( !ninesixty_gutter_width / 2 ) - !nav_bar_border 
    border-right= !nav_bar_border  "dashed" #000
    h4
      text-align: right
    ul
      margin-left: 50px
      text-align: right
      li
        margin: 0 -2px 0 0
        span
          padding: 5px 15px 5px 5px
          border= !nav_bar_border  "dashed" #000
            right-width: 0  
          background: #fff url("/skins/jinx/images/selected_nav_bar_bg_left.jpg") repeat-y
        a:link, a:visited, a:hover, a:active, a:focus
          padding: 5px 15px 5px 5px
        
    #logo
      text-align: right
      p.nippon
        padding: 0 15px 5px 0
        text-shadow: #bbb 0px 2px 2px
      p.english
        margin: 0 15px 0 0        
=right_nav_bar
  #nav_bar
    margin-left= ( !ninesixty_gutter_width / 2 ) - !nav_bar_border 
    border-left= !nav_bar_border  "dashed" #000
    h4
      text-align: left    
    ul
      margin-right: 50px
      text-align: left
      li
        margin: 0 0 0 -2px
        span
          padding: 5px 5px 5px 15px
          border= !nav_bar_border  "dashed" #000
            left-width: 0  
          background: #fff url("/skins/jinx/images/selected_nav_bar_bg_right.jpg") repeat-y
        a:link, a:visited, a:hover, a:active, a:focus
          padding: 5px 5px 5px 15px
        
    #logo
      text-align: left 
      p.nippon
        padding: 0 0 5px 15px
        text-shadow: #bbb 2px 2px 2px
      p.english
        margin: 0 0 0 15px

#nav_bar
  +grid(4)
  padding-bottom: 200px
  h4
    padding: 0 10px
  ul
    +no-bullets
    padding-bottom: 20px
    text-align: right
    li
      span
        display: block
        margin: 3px 0 
        border= !nav_bar_border  "dashed" #000
        font-weight: bold
        text-transform: uppercase      
      a:link, a:visited
        display: block
        text-transform: uppercase
        font-weight: bold
        color: #f00919
      a:hover, a:active, a:focus
        color: #fff
        background: #E40051
  #logo
    color: #000
    padding-bottom: 5px
    p.nippon
      font-family: sans-serif
      font-weight: bold
      font-size: 25px 
      line-height: 1.3em
      margin: 0 
    p.english
      font-family: courier, monospace
      font-size: 20px 
      font-weight: bold
      border-top: 2px dotted #f00919
      padding: 2px 0 0 0

#loading
  +input_text
  +grid(12)
  +grid-prefix(4)
  text-align: center


#content
  padding-bottom: 50px
  +grid(12)

h3 
  font-size: 20px
  font-weight: bold
  padding-bottom: 10px

h4 
  text-transform: uppercase
  font-weight: bold
  color: #003860
  display: block
  font-size: 14px

p
  padding-bottom: 10px
  margin-bottom: 0



div.tab_selected
  display: block

div.tab_unselected
  display: none

ul.tabs
  +horizontal-list
  margin-bottom: -1px
  padding-left: 15px
  a:link, a:visited, a:hover, a:active, a:focus
    padding: 5px 5px 8px 5px 
  li
    padding: 5px
  li.tab_selected
    background= !light_grey   
    border= 1px "solid" #717171
      bottom: 0
    a:link, a:visited, a:hover, a:active, a:focus
      background: transparent
      color: #00233C
      padding-bottom: 12px
      text-decoration: none
  
div.form
  background= !light_grey   
  border= 1px "solid" #717171

form  
  label, div.title
    text-transform: uppercase
    font-weight: bold
    color: #003860
    display: block
  fieldset
    padding: 0 0 15px 0
    input.text, select, option
      +input_text
    input.text, textarea
      width: 600px
    textarea
      font-size: 18px
      font-family: serif
      height: 200px
  div.group
    +clearfix
    fieldset
      float: left
  div.checkboxes
    width: 50%
    div.selected
      span
        background: #ff9
  div.buttons
    button
      text-transform: uppercase


      
#footer
  +grid-unit-base
  +grid-width(12)
  +grid-prefix(4)
  display: none





