#the_timestamp, #the_footer
  display: none
  

p
  padding: 0
  margin: 0

#nav_bar 
  width: 220px
  padding-top: 15px
  float: left
  border-right: 3px dashed #000
  ul
    li
      display: none
      padding: 4px 4px 6px 0
      list-style: none
      a
        display: block
        padding: 7px 5px 10px 0
    li.selected 
      display: block
      text-align: left
      padding: 10px 0 10px 10px
      background: #fff url("/skins/jinx/images/selected_nav_bar_bg.jpg") repeat-y
      margin-right: -3px    
      font-weight: bold
      border: 3px dashed #000
        width: 3px 0 3px 3px

#logo
  text-align: center
  color: #000
  p.nippon
    font-family: sans-serif
    font-weight: bold
    font-size: 25px 
    padding: 0 0 8px 0  
    margin: 0 10px
  p.english
    font-family: courier, helvetica, segoe
    font-size: 20px 
    font-weight: bold
    border-top: 6px dotted #f00919
    padding: 8px 0 
    margin: 0 35px

#timeline
  text-align: right
  padding-bottom: 100px

  
#the_body  
  font-family: "bitstream vera sans", helvetica, segoe
  font-size: 14px  
  
  padding: 0px
  margin: 0

  
a:link, a:visited
  color: #F00919
  font-weight: bold 

a:hover, a:active 
  color: #fff
  background: #F00919



