#the_timestamp, #the_footer
  display: none
#logo
  font-family: courier, helvetica, segoe
  font-size: 30px 
  font-weight: bold
  text-align: center
  padding-top: 5px
  color: #000
  width: 300px
  margin: 80px auto 0 auto
  border-top: 2px dashed #000

#timeline
  width: 240px
  margin: 0 auto
  
body  
  font-family: "bitstream vera sans", helvetica, segoe
  font-size: 14px  
  background: #fff url("/logo.jpg") no-repeat top center
  padding: 15px
  margin: 0
  text-align: center
  
a:link, a:visited
  color: #F00919
  font-weight: bold 

a:hover, a:active 
  color: #fff
  background: #F00919



