@import layout.sass

ul.faq
  li
    list-style: none
    padding-bottom: 20px
    div.question
      font-size: 16px
      font-family: sans-serif
      font-weight: bold
    div.answer
      font-size: 20px
      font-family: serif
    a
      font-size: 14px


