#the_timestamp, #the_footer
  display: none
#logo
  font-family: monospace
  font-size: 20px 
  font-weight: normal
body
  text-align: center
  padding: 100px 0 0 0
p  
  font-family: sans-serif
  font-size: 12px  

