#list {
    background-color: #fff;
}

div.success, div.success a,
ul.specs li.success h3, ul.specs li.success h3 a {
    background-color: #4A7C15;
}
ul.examples li.success, ul.examples li.success a {
    background-color: #4A7C15;
	color: #ff9; 
}


.beach_house {
    background: #ffc;
    color: #ffc;
}

#beach_house_1_wrapper,
#pool_house_1 {
    font-size: xx-small;
    color: #ccc;
}
