// MAB  ~/megauni/templates/en-us/mab/Clubs_by_filename.rb
// VIEW ~/megauni/views/Clubs_by_filename.rb
// NAME Clubs_by_filename

@import base.sass
@import layout_styles.sass

div.col
  float: left

#the_content
  padding: 10px 10px 50px 10px
  +clearfix

#club_title
  text-align: center
  font-size: 300%
  
#club_body
  +variable_width_centered

#mind_control
  width: 500px

#intro
  max-width: 250px
  padding: 0 10px 100px 0
  text-align: right

#guide
  padding: 10px
  background: #ffc
  ul
    padding: 0 0 0 20px

#club_messages
  +last
  max-width: 550px

