// MAB  ~/megauni/templates/en-us/mab/Clubs_by_filename.rb
// VIEW ~/megauni/views/Clubs_by_filename.rb
// NAME Clubs_by_filename

@import base.sass
@import layout_styles.sass

div.col
  float: left
  
div.section
  padding-bottom: $padding



#the_content
  +clearfix
  background: white url(http://megauni.s3.amazonaws.com/bg.gif) repeat 0 -160px
  padding: 60px 0 50px 0


#messages
  max-width: 580px
  padding: 0 20px 0 0
  
#about
  max-width: 400px
  padding: 0 20px 0 0
  
#memberships
  max-width: 400px
  
#publish
  max-width: 500px





#the_rest
  +clearfix
  border-top: 2px solid $light_blue
  padding: 0 0 0 460px
  background: #FDFDFD url(http://megauni.s3.amazonaws.com/bg_overlay.gif) 
  


#pretension
  +clearfix
  position: absolute
  left: 30px
  top: 0
  width: 350px
  margin: 0 
  color: $orange
  h1.main
    padding: 20px 2px 0 2px
    background: black
    color: $orange
    text-shadow: none
    font-family: impact
    font-weight: normal
    font-size: 170%
  div.keyword
    +small_font_size
    background: black
    padding: 0 0 10px 0
    margin: 0
    color: #666
    text:
      align: center
    span.keyword
      color: $light_grey
  h3
    color: #107CFC
    text-align: right
  div.about
    +rounded( 0, 0, 0, 10px )
    background: black
    color: #E1EEFF
    padding: 0 5px 20px 5px
    text-align: right
    float: left
    width: 230px
  
ul.nav_bar
  +vertical_nav_bar
  +rounded(0, 0, 10px, 10px)
  float: left
  text-align: left
  background: black
  border: 0
  padding: 0 0 20px 0
  width: 110px
  li
    padding-bottom: 6px
    text-align: center
  li.selected
    span
      +rounded( 4px, 4px, 4px, 4px )
      background: $light_blue
      color: white
      padding: 4px 6px 4px 5px
