// MAB  /home/da01tv/MyLife/apps/megauni/templates/English/mab/Clubs_by_id.rb
// VIEW views/Clubs_by_id.rb
// NAME Clubs_by_id

@import base.sass
@import layout_styles.sass
@import mini_nav_bar.sass

#club_messages
  border-top: 1px dashed #003860

#club_message_create
  padding-bottom: 15px


#content 
  padding-left: 20px
  +clearfix
  
#club_intro
  width: 400px
  float: left

#club_message_create
  float: left
  width: 400px

