// ~/megauni/templates/English/mab/Hellos_list.rb

@import base.sass
@import layout_styles.sass

body 
  text-align: center
  padding: 10px

#container
  text-align: left
  margin: 0 auto
  +clearfix

#content
  width: 500px
  textarea 
    width: 480px

#mini_nav_bar
  width: 200px
  float: left
  text-align: left
  p 
    color: #f00919
    font-family= !custom_sans_serif
    font-size: 20px 
    font-weight: bold
    padding: 0
    margin: 0
    a:link, a:visited
      font-size: 20px
      display: block
      text-transform: none
      text-decoration: none
  p.divider
    font-size: 12px
    color= !dashed_border
    text-transform: uppercase
  ul
    list-style: none
    padding: 0 0 10px 0
    li
      list-style: none
      padding: 2px 0 0 0
      a
        padding: 2px 2px 3px 2px
  h4
    padding-top: 10px
#clubs
  width: 250px 
  float: left
  text-align: right
  div.club
    border-bottom-width: 0
#messages
  width: 450px
  float: left
  h4
    margin: 0 20px 0 0
    border-bottom: 1px dashed #000
      color= !dashed_border
  
#coming_soon
  ul
    padding-bottom: 10px
    padding-left: 25px
    margin-top: -10px

