// ~/megauni/templates/en-us/mab/Hellos_list.rb

@import base.sass
@import layout_styles.sass

body
  background: white url(http://megauni.s3.amazonaws.com/bg.gif)
  padding: 0
  
#the_content
  +rounded( 0, 0, 60px, 60px)
  padding: 10px 20px
  border-bottom: 0px solid $red
  width: 280px
  text-align: center
  margin: 0 0 0 150px
  background: white url(http://megauni.s3.amazonaws.com/bg_overlay.gif) 151px 0

#pretension 
  +rounded
  text-align: center
  h1
    +dashed_border_bottom
    padding: 5px 5px 10px 5px
    font:
      style: italic
      family: $impact_font
      weight: normal
  h4
    span.title
      color: $dark_grey
  #coming_soon
    +small_font_size
    text-align: center
    text-transform: uppercase

#intro 
  padding: 0 0 10px 0
  h1
    color: $red
    font-size: 28px
    font-weight: bold

  h2
    font-size: 14px
    text-transform: uppercase

  #search_club_form
    margin: 20px 0
    fieldset
      padding-bottom: 0
  #footer
    font: 
      size: 12px

ul.nav_bar
  +vertical_nav_bar
  text-align: center


