// ~/megauni/templates/English/mab/Hellos_list.rb

@import base.sass
@import layout_styles.sass

body 
  text-align: center
  padding: 10px

#container
  text-align: left
  margin: 0 auto
  +clearfix

#content
  width: 500px
  textarea 
    width: 480px

#clubs
  width: 250px 
  float: left
  text-align: right
  div.club
    border-bottom-width: 0
#messages
  width: 450px
  float: left
  h4
    margin: 0 20px 0 0
    border-bottom: 1px dashed #000
      color= !dashed_border
  
#coming_soon
  ul
    padding-bottom: 10px
    padding-left: 25px
    margin-top: -10px

