// MAB  ~/megauni/templates/en-us/mab/Messages_by_id.rb
// VIEW views/Messages_by_id.rb
// NAME Messages_by_id

@import layout.sass

div.col
  float: left
  
#message
  max-width: 750px
  padding: 0 10px 60px 0
  border: 1px unquote('dashed') $dashed_border
    width: 0 1px 0 0
  
#about
  width: 200px
  text-align: right
  padding: 0 0 0 10px
    
#archives
  padding: 0 10px

// #nav_bar
//   border-left-width: 0
//   margin-left: 0
