// MAB  ~/megauni/templates/en-us/mab/Messages_by_id.rb
// VIEW views/Messages_by_id.rb
// NAME Messages_by_id

@import layout.sass
@import Clubs_by_filename.sass

div.col
  float: left
  
#message_col
  padding: 0
  width: 860px

#comments, #questions, #reply
  float: left
  
#message
  padding: 0 0 20px 0
  text-align: center
  h3
    text-align: center
    padding: 0 0 3px 0
  div.body
    text-align: left
    margin: 0 auto
    padding: 3px 10px 5px 0
    max-width: 800px
    font:
      family: $serif
      size: 140%
  
#about
  +clearfix
  +dashed_border_top
  +dashed_border_bottom
  max-width: 800px
  text-align: left
  margin: 10px auto
  padding: 10px 0
  strong
    background: transparent
    padding: 0
  div
    padding: 0 20px 0 0
    float: left

#replies
  +variable_width_centered

#comments
  +first(20px)
  width: 420px

#questions
  width: 420px

#reply
  +last(20px)
  
#archives
  padding: 0 10px


// #nav_bar
//   border-left-width: 0
//   margin-left: 0
