@import layout.sass

body
  background: #638fa0 url("http://surferhearts.s3.amazonaws.com/east_coast_edition/images/bg/blog_bg.gif")

#container
  background: #5b8797 url("http://surferhearts.s3.amazonaws.com/east_coast_edition/images/bg/container_blog_bg.gif?timestamp=1178640400") repeat-x
  border: #405e68 solid 1px
    top-width: 0
  padding-top: 10px


ul, ul li
  list-style: none

h2, #notice
  background: #ffff99
  padding: 10px
  font-size: 14px
  margin: 0 0 10px 0
  text-align: center

h2
  background: #efe4e9
  padding: 10px
  text-align: center
  text-transform: uppercase
  font-weight: bold
  font-size: 16px
  color: #64002a

#archives
  +clearfix
  ul
    width: 45%
    float: left

div.news_post
  +clearfix
  padding: 0 0 10px 0
  margin-bottom: 30px
  background: #efe4e9
  border: 1px solid black
  div.info
    padding: 2px 10px 0 0
    font-size: 12px
    text-transform: uppercase
    font-family: monospace
    float: right
  h4
    background: #bcc4d5
    color: #64002a
    padding: 5px 10px
    font-size: 16px
    font-weight: bold
  div.body
    +clearfix
    padding: 10px
    font-size: 16px
    font-family: helvetica, arial, sans-serif
    img.left
      border: 1px solid #734459
      margin: 0 5px 5px 0
      float: left
    img.right
      border: 1px solid #734459
      margin: 0 0 5px 5px
      float: right
  div.tags
    padding: 0 10px 10px 10px
    p.title
      font-weight: bold
      padding-bottom: 0
      margin-bottom: 0
      text-transform: uppercase
    ul, li
      margin: 0
      padding: 0
